<div class="desktop_version row full-content-h position-relative min-content-normal align-items-center justify-content-center">
	<div class="col-md-6 full-content-h-2 p-5 bg-imagebg">
		<div class="col-md-7 col-sm-10 col-11 pt-1">
			<img src="./assets/img/new_logo.svg">
        </div>
		<div class="col-md-7 col-sm-10 col-11 mb-6">
			<div class="new_boxes">
				<div (click)="goTo('https://cientificavirtual.cientifica.edu.pe', 'aulavirtial_cpe_login')" class="box orange">
					<img class="new_icon" src="./assets/img/icon/new_icon_1.png">
					<p class="text">Aula Virtual Científica Pre/CPE</p>
					<img class="chevron" src="./assets/img/icon/new_chevron.png" alt="">
				</div>
				<div (click)="goTo('https://aulavirtualposgrado.cientifica.edu.pe', 'aulavirtial_pos_login')" class="box purple">
					<img class="new_icon" src="./assets/img/icon/new_icon_2.png">
					<p class="text">Aula Virtual Científica Posgrado</p>
					<img class="chevron" src="./assets/img/icon/new_chevron.png" alt="">
				</div>
				<div (click)="goTo('https://docs.cientifica.edu.pe/miportal_sise/general/Manual%20Canvas-%20Estudiantes.pdf','tutorial_aula_virtual')" class="box blue">
					<img class="new_icon" src="./assets/img/icon/new_icon_3.png">
					<p class="text">Tutorial Aula Virtual Pre/CPE</p>
					<img class="chevron" src="./assets/img/icon/new_chevron.png" alt="">
				</div>
			</div>
		</div>
	</div>
	<div class="row col-md-6 align-items-center justify-content-center new_right_side">
		<div class="col-md-7 col-sm-10 col-11 mb-5 new_form justify-content-center">
			<h5>¡Bienvenidos al Intranet!</h5>
			<p class="mb-5">Para iniciar sesión, por favor ingresa tu usuario y contraseña</p>
			<form class="form" [formGroup]="loginForm" (ngSubmit)="login()">				
				<div class="input-group mb-5">
					<p [ngClass]="{'notHidden': loginForm.controls.email.value}" class="m-0 hidden_text">Usuario</p>
					<input autofocus class="new_input" type="text" oninput="this.value = this.value.toUpperCase()" formControlName="email"  placeholder="Usuario">
				</div>
				<div class="input-group mt-3 eyes_field">
					<p [ngClass]="{'notHidden': loginForm.controls.password.value}" class="m-0 hidden_text">Contraseña</p>
					<img *ngIf="!showPass" (click)="showPass = true" class="eye pointer" src="./assets/img/icon/new_eye_closed.svg">
					<img *ngIf="showPass" (click)="showPass = false" class="eye pointer" src="./assets/img/icon/new_eye.svg">
					<input class="new_input" [type]="showPass?'text':'password'" formControlName="password"  placeholder="Contraseña">
				</div>
				<div class="mt-5 row justify-content-start">
					<button type="submit" class="btn new_button"> Iniciar sesión </button>
				</div>
			</form>
			<div class="forgot mt-3">
				<p (click)="goTo('https://recuperacontrasena.cientifica.edu.pe', 'recover_password')" class="pointer text-center">¿Olvidaste tu contraseña?</p>
			</div>
			<div class="no_access mt-5">
				<p class="text-center">¿Ayuda con tus accesos? <span><a href="mailto:soluciones@cientifica.edu.pe">soluciones@cientifica.edu.pe</a></span></p>
			</div>
		</div>
		<div class="col-md-6 footer text-center">
			<span>© 2021 Universidad Científica del Sur -  Todos los derechos reservados </span>
		</div>
		<div class="position-fixed float-wsp-2 row align-items-end flex-column">
			<div class="text-right">
				<a href="https://api.whatsapp.com/send?phone=+51988576507" target="_blank" gtagEvent trackOn="click" action="wsp_matricula" class="pointer">
					<img style="width: 73px" src="./assets/img/icon/wsp.svg">
				</a>
			</div>
		</div>
	</div>
</div>


<div class="mobile_version row full-content-h position-relative min-content-normal align-items-center justify-content-center new_right_side">
	<div class="header_mobile">
		<img src="./assets/img/new_logo_mobile.svg" alt="">
	</div>
	<div class="content new_form px-5 mt-5">
		<h5>¡Bienvenidos al Intranet!</h5>
		<p class="mt-2">Para iniciar sesión, por favor ingresa tu usuario y contraseña</p>
		<form class="mt-5 form" [formGroup]="loginForm" (ngSubmit)="login()">				
			<div class="input-group mb-5">
				<p [ngClass]="{'notHidden': loginForm.controls.email.value}" class="m-0 hidden_text">Usuario</p>
				<input class="new_input" type="text" oninput="this.value = this.value.toUpperCase()" formControlName="email"  placeholder="Usuario">
			</div>
			<div class="input-group mt- eyes_field">
				<p [ngClass]="{'notHidden': loginForm.controls.password.value}" class="m-0 hidden_text">Contraseña</p>
				<img *ngIf="!showPass" (click)="showPass = true" class="eye" src="./assets/img/icon/new_eye_closed.svg">
				<img *ngIf="showPass" (click)="showPass = false" class="eye" src="./assets/img/icon/new_eye.svg">
				<input class="new_input" [type]="showPass?'text':'password'" formControlName="password"  placeholder="Contraseña">
			</div>
			<div class="mt-5 row justify-content-start">
				<button type="submit" class="btn new_button"> Iniciar sesión </button>
			</div>
		</form>
		<div class="forgot mt-3">
			<p (click)="goTo('https://recuperacontrasena.cientifica.edu.pe', 'recover_password')" class="text-center">¿Olvidaste tu contraseña?</p>
		</div>
		<div class="no_access mt-5">
			<p class="m-0 text-center">¿Ayuda con tus accesos?</p>
			<p class="m-0 text-center"><span>soluciones@cientifica.edu.pe</span></p>
		</div>
	</div>

	<div class="wsp_button">
		<a href="https://api.whatsapp.com/send?phone=+51988576507" target="_blank" gtagEvent trackOn="click" action="wsp_matricula" class="pointer">
			<img style="width: 73px" src="./assets/img/icon/wsp.svg">
		</a>
	</div>
	<div class="mt-2 m-0 p-0 col-md-6 text-center">
		<div class="new_boxes2">
			<div (click)="goTo('https://cientificavirtual.cientifica.edu.pe', 'aulavirtial_cpe_login')" class="box orange">
				<img class="new_icon" src="./assets/img/icon/new_icon_1.png">
				<p class="m-0 text">Aula Virtual Científica Pre/CPE</p>
				<img class="chevron" src="./assets/img/icon/new_chevron.png" alt="">
			</div>
			<div (click)="goTo('https://aulavirtualposgrado.cientifica.edu.pe', 'aulavirtial_pos_login')" class="box purple">
				<img class="new_icon" src="./assets/img/icon/new_icon_2.png">
				<p class="m-0 text">Aula Virtual Científica Posgrado</p>
				<img class="chevron" src="./assets/img/icon/new_chevron.png" alt="">
			</div>
			<div (click)="goTo('https://docs.cientifica.edu.pe/miportal_sise/general/Manual%20Canvas-%20Estudiantes.pdf','tutorial_aula_virtual')" class="box blue">
				<img class="new_icon" src="./assets/img/icon/new_icon_3.png">
				<p class="m-0 text">Tutorial Aula Virtual Pre/CPE</p>
				<img class="chevron" src="./assets/img/icon/new_chevron.png" alt="">
			</div>
		</div>
		<div class="text-center last">
			<span>© 2021 Universidad Científica del Sur -  Todos los derechos reservados </span>
		</div>
	</div>
</div>


<ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>