<div class="row bg-imagebg full-content-h position-relative min-content-normal align-items-center justify-content-center">
	<div class="row col-md-6 full-content-h-2 bg-{{code_company}}-a justify-content-center"> <!-- align-items-center -->
		<div class="col-md-7 col-sm-10 col-11 pt-5">
			<img class="img-s" src="./assets/img/logo.png">
        </div>
		<div class="col-md-7 col-sm-10 col-11 mb-5">
			<form class="form" [formGroup]="loginForm" (ngSubmit)="login()">				
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<div class="input-group-text bg-{{code_company}} text-white"><i class="fa fa-user"></i></div>
					</div>
					<input class="form-control bg-transparent text-white" type="text" oninput="this.value = this.value.toUpperCase()" formControlName="email"  placeholder="Usuario">
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<div class="input-group-text bg-{{code_company}} text-white"><i class="fa fa-lock"></i></div>
					</div>
					<input class="form-control bg-transparent text-white" type="password" formControlName="password"  placeholder="Contraseña">
				</div>
				<div class="row">
					<div class="col-9">
						<div class="">
							<a class="text-white" href="https://recuperacontrasena.cientifica.edu.pe/">¿Olvidaste tu contraseña?</a>
						</div>
						<div class="mb-3">
							<a class="text-white" href="https://recuperacontrasena.cientifica.edu.pe/">¿No puedes acceder a alguna de nuestras plataformas?</a>
						</div>
					</div>
					<div class="col-3 text-right">
						<a href="https://api.whatsapp.com/send?phone=5117071846&text=!Hola!%20No%20puedo%20acceder%20a%20Intranet%20(Miportal)%20o%20a%20mi%20correo%20de%20alumno%20(@cientifica).%20%20%C2%BFPueden%20ayudarme?." class="btn bg-wsp">
							<img src="./assets/img/icon/wsp.png" style="width: 30px">
						</a>
					</div>
				</div>
				
				<div class="row justify-content-start">
					<button type="submit" class="btn btn-black"> Ingresar </button>
				</div>
			</form>
		</div>
	</div>
	<div class="col-md-6">
	</div>

	<!-- <a href="https://api.whatsapp.com/send?phone=5117071846&text=!Hola!%20No%20puedo%20acceder%20a%20Intranet%20(Miportal)%20o%20a%20mi%20correo%20de%20alumno%20(@ucientifica).%20%20%C2%BFPueden%20ayudarme?." class="btn btn-wsp">
		<img src="./assets/img/icon/wsp.png">
	</a> -->

	<div class="btns-float" style="width: 240px">
		<a href="https://vimeo.com/522967439" target="_blank" class="mb-2 d-block"><img src="./assets/img/login-r7.png" style="width: 240px"></a>
		<!-- <a href="https://vimeo.com/402394919/41073f7afc" class="mb-2 d-block"><img src="./assets/img/login-r9.png" style="width: 240px"></a> -->
		<a href="https://vimeo.com/543771141/6b0074e2d5" target="_blank" class="mb-2 d-block"><img src="./assets/img/login-r5.png" style="width: 240px"></a>
		<a href="https://vimeo.com/555910433/ea029660fd" target="_blank" class="mb-2 d-block"><img src="./assets/img/login-r6.png" style="width: 240px"></a>
	</div>
</div>

<ngx-smart-modal #piezaModal identifier="piezaModal" [closable]="false" [escapable]="true" [dismissable]="true" [customClass]="'smallModal fullModal'">
	<a href="https://isise.sharepoint.com/:b:/s/DUCIENTIFICA/EQmyXpkEfhxJsNj_y7hfHdsBvUoFZKHy5Ym0U7KfcCH4Pg?e=N4Qnde" target="_blank">
		<img class="w-100 rounded-1" src="./assets/img/portal_pieza.jpg">
	</a>
	<div class="btn-close-float p-2">
		<a (click)="piezaModal.close()" class="pointer d-block p-2 bg-black-a circle-x"><i class="fa fa-times text-white text-l"></i></a>
	</div>
</ngx-smart-modal>

<ngx-smart-modal #ErrCurrentStudentModal identifier="ErrCurrentStudentModal" [closable]="false" [escapable]="false" [dismissable]="false" [customClass]="'smallModall fullModal p-post-header'">
    <div class="text-center p-2 px-5">
        <h5 class="text-ucs font-weight-bold text-sd">¡Cuidado!</h5>
        <p class="text-m">Estas intentando ingresar a los datos de un tercero</p>
    </div>
</ngx-smart-modal>

<ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>