<h5> <strong> Cargos de Trámites </strong> </h5>
<div class="bg-gray-a p-4">
	<div class="bg-white p-3">
		<div class="row align-items-center">
			<div class="col-2">
				<h5>Grado</h5>
				<select [(ngModel)]="charge.grade" class="mt-2 form-control" name="grade" id="" (change)="loadTypes(charge.grade)">
					<option value="">Seleccione . . . </option>
					<option value="PREGRADO">PREGR</option>
					<option value="POSGRADO">POSGR</option>
				</select>
			</div>
			<div class="col-3">
				<h5>Tipo</h5>
				<select (change)="selectedGrade()" [(ngModel)]="charge.type" class="mt-2 form-control" name="grade" id="">
					<option value="">Seleccione Grado . . . </option>
					<option *ngFor="let type of allTypes" [ngValue]="type.code">{{type.category}}</option>
				</select>
			</div>
	
			<div class="col-2">
				<h5>Trámite/Costo</h5>
				<select [disabled]="true" [(ngModel)]="charge.payment" class="mt-2 form-control" name="grade" id="">
					<option value="COSTO">CON COSTO</option>
				</select>
			</div>
			<div class="col-5">
				<div>
					<h4>SOLICITUD:</h4>
					<p *ngIf="!showMessageBenefit">Para generar tu solicitud o si tienes alguna duda escríbenos al <span>+51 988 576 507</span>
					(ver horario de atención) o al correo: <a href="">soluciones@cientifica.edu.pe</a></p>
					<div *ngIf="showMessageBenefit">
						<p>Fecha de convocatoria: del 01 al 28 de febrero 2022</p>
						<p>Una vez realizado el pago, las credenciales llegarán a tu correo institucional en un plazo de 3 días hábiles.</p>
						<p>
							En caso de no haberte llegado la clave y usuario en el plazo indicado, consultas o dudas respecto al proceso o el llenado web, comunicarse al teléfono 739-0973 número de WhatsApp <span>+51 923153211</span> (sólo mensajes) o al correo <a href="">administraciondebeneficios@cientifica.edu.pe</a><br>
							de lunes a viernes de 9:00am a 1:00pm y de 2:00 pm a 5:00 pm
						</p>
					</div>
				</div>
				<div>
					<button (click)="createCharge()" class="btn btn-primary">Generar Cargo</button>
				</div>
			</div>
		</div>
	</div>
</div>

<ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>