<div [style.width.px]="widthMenuValid" class="bg-white sidebar-menu pt-2">
  <a class="menu" routerLink="/estudiante/inicio" routerLinkActive="active">
    <img src="./assets/img/homeicon.svg">
    <span class="font-wight-bold" [class.d-none]="widthMenu==72" [class.d-xl-block]="widthMenu==72">Inicio</span>
  </a>
  <a class="menu" routerLink="/estudiante/accion/horario" routerLinkActive="active">
    <img src="./assets/img/horario.svg">
    <span class="font-wight-bold" [class.d-none]="widthMenu==72" [class.d-xl-block]="widthMenu==72">Horario</span>
  </a>
  <a class="menu" routerLink="/estudiante/accion/estado-cuenta" routerLinkActive="active">
    <img src="./assets/img/pago.svg">
    <span class="font-wight-bold" [class.d-none]="widthMenu==72" [class.d-xl-block]="widthMenu==72">Mis Pagos</span>
  </a>
  <a class="menu" routerLink="/estudiante/accion/condiciones-academicas" routerLinkActive="active">
    <img src="./assets/img/academy.svg">
    <span class="font-wight-bold" [class.d-none]="widthMenu==72" [class.d-xl-block]="widthMenu==72">Record Académico</span>
  </a>
  <a class="menu" routerLink="/estudiante/accion/historial-cursos" routerLinkActive="active">
    <img src="./assets/img/history.svg">
    <span class="font-wight-bold" [class.d-none]="widthMenu==72" [class.d-xl-block]="widthMenu==72">Historial de Cursos</span>
  </a>
  <a class="menu" (click)="linkModalOpen()">
    <img src="./assets/img/document.svg">
    <span class="font-wight-bold" [class.d-none]="widthMenu==72" [class.d-xl-block]="widthMenu==72">Documentos Académicos</span>
  </a>
  <a class="menu" (click)="linkUpdateOpen()">
    <img src="./assets/img/change-data.svg">
    <span class="font-wight-bold" [class.d-none]="widthMenu==72" [class.d-xl-block]="widthMenu==72">Actualizar datos</span>
  </a>
  <a class="menu" (click)="matriculaExtracurricularModalOpen()">
    <img src="./assets/img/matricula.svg">
    <span class="font-wight-bold" [class.d-none]="widthMenu==72" [class.d-xl-block]="widthMenu==72">Matrícula Extracurricular</span>
  </a>
  <div class="menu">
    <img src="./assets/img/matricula.svg">
    <span class="font-wight-bold" [class.d-none]="widthMenu==72" [class.d-xl-block]="widthMenu==72">Reserva Matrícula</span>
    <i class="arrow fa fa-chevron-down" aria-hidden="true"></i>
  </div>
  <div class="item-sub">
    <ul>
      <li (click)="showScheduleModal()">
        Consultar Horarios
      </li>
      <li *ngIf="timeOut && showMatri" (click)="goEnrollment()">
        Iniciar Reserva
      </li>
    </ul>
  </div>
  <a *ngIf="timeOut && showMatri" class="menu" (click)="goEnrollment()">
    <img src="./assets/img/matricula.svg">
    <span class="font-wight-bold" [class.d-none]="widthMenu==72" [class.d-xl-block]="widthMenu==72">Reserva Matrícula</span>
  </a>

<!-- <div *ngIf="queueEnroll" class="data-enroll text-{{!queueEnroll.turnText?'red':(queueEnroll.onTurn?'green':'red')}}">
  <p class="m-0">{{queueEnroll.turnText?queueEnroll.turnText:'Aún no tienes Turno de Matricula'}}</p>
  <div class="row justify-content-center align-items-center mb-2 mt-4">
    <div *ngIf="enroll && enroll_conditions" class="text-center mx-1 pointer" (click)="openModal('A',enroll_conditions.FLAG_ACADEMICO)">
      <i class="fa fa-file-pdf-o text-sd text-red mb-2"></i>
      <div class="bg-black text-white p-2 text-s">
        <p class="m-0">Condiciones</p>
        <p class="m-0">Académicas</p>
      </div>
      <div *ngIf="enroll && enroll_conditions && enroll_conditions.FLAG_ACADEMICO" class="bg-{{enroll_conditions.FLAG_ACADEMICO == 'Y'?'green':'red'}} text-white p-2 text-s">
        <p class="m-0">{{enroll_conditions.FLAG_ACADEMICO == 'Y'?'Aceptado':'No Aceptado'}}
        </p>
      </div>
    </div>
    <div *ngIf="enroll && enroll_conditions" class="text-center mx-1 pointer" (click)="openModal('F',enroll_conditions.FLAG_FINANCIERO)">
      <i class="fa fa-file-pdf-o text-sd text-red mb-2"></i>
      <div class="bg-black text-white p-2 text-s">
        <p class="m-0">Condiciones</p>
        <p class="m-0">Financieras</p>
      </div>
      <div *ngIf="enroll && enroll_conditions && enroll_conditions.FLAG_FINANCIERO" class="bg-{{enroll_conditions.FLAG_FINANCIERO == 'Y'?'green':'red'}} text-white p-2 text-s">
        <p class="m-0">{{enroll_conditions.FLAG_FINANCIERO == 'Y'?'Aceptado':'No Aceptado'}}</p>
      </div>
    </div>
  </div>
</div> -->