.font-wight-bold{
    font-weight: 600;
}

.data-enroll {
    padding: 20px;
    background-color: #ECF1FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        font-weight: bold;
    }
    div.bg-black {
        p {
            background-color: black !important;
        }
        background-color: black !important;
    }
    div.bg-red {
        p {
            background-color: red !important;
        }
        background-color: red !important;
    }
    div.bg-green {
        p {
            background-color: green !important;
        }
        background-color: green !important;
    }
}