<div class="row new_enrollment_container">
	<div class="col-md-10">
		<div class="bg-gray-a p-4">
			<div class="mt-2 text-{{company}}"><b>Total de Créditos: {{ myCredits }} / {{maxCredits}}</b></div>
			<div class="form-group scroll2">
				<table class="table w-100">
				  	<thead class="thead-dark">
				    	<tr>
					      	<th class="py-2 text-left text-m">Cursos</th>
					      	<th class="py-2 text-left text-m">Créditos</th>
					      	<th class="py-2 text-left text-m">Oblg/Elec</th>
					      	<th class="py-2 text-left text-m">Catálogo</th>
					      	<th class="py-2 text-left text-m">Nivel</th>
				    	</tr>
				  	</thead>
				  	<tbody>
						<ng-container *ngFor="let course of availableCourses; let i = 'index'">
							<tr class="spacer" *ngIf="(numberofExtra > 0) && availableCourses[0].FLAG == 'A' && i == 0">
								<td colspan="5">
									Materias en Curso
								</td>
							</tr>
							<tr class="text-s">
								<ng-container>
									<td class="text-left">
										  <div class="form-check">
											<input class="form-check-input" type="checkbox" id="{{course.CRSE_ID}}" [(ngModel)]="course.value" (change)='onChangeAvailable(course, $event)' value="{{course.CRSE_ID}}">
											<label class="docente form-check-label" for="{{course.CRSE_ID}}">{{course.DESCR}}</label>
										</div>
									  </td>
									  <td>{{course.UNITS_REPEAT_LIMIT | number}}</td>
									  <td>{{course.LVF_CARACTER}}</td>
									  <td>{{course.SUBJECT}}{{course.CATALOG_NBR}}</td>
									  <td>{{course.UCS_CICLO}}</td>
								</ng-container>
							</tr>
							<tr class="spacer" *ngIf="(numberofExtra > 0) && availableCourses[i].FLAG == 'N' && availableCourses[i+1].FLAG == 'A'">
								<td colspan="5">
									Materias en Curso
								</td>
							</tr>
						</ng-container>
				  	</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-2">
		<div class="my-2 text-right">
			<button (click)="callModal()" class="btn btn-orange">Vista del Horario</button>
			<button *ngIf="myRealCoursesInEnrollment.length > 0" (click)="callSendEmail()" class="btn btn-orange mt-2">Enviar Horario al Correo</button>
		</div>
	</div>
</div>

<ngx-smart-modal #scheduleSelection identifier="scheduleSelection" [closable]="false" [escapable]="false" [dismissable]="false" [customClass]="'extralargeModal fullModal p-post-header'">
	<div class="p-2 header-modal">
		<div class="title">
			<p>SECCIONES DISPONIBLES - {{selectedCourse.DESCR}}<span *ngIf="existEqui"> (Equivalente a={{selectedCourse['CRSE_ID2']}}*)</span></p>
		</div>
		<div class="btn-close d-flex">
			<p *ngIf="cicleSelected" class="mr-3">Ciclo lectivo: {{cicleSelected.CICLO_LECTIVO}}</p>
			<a (click)="closeModal(scheduleSelection)" class="pointer"><i class="fa fa-times text-white text-l"></i></a>
		</div>
	</div>
	<div class="text-center">
		<div class="form-group scroll h-s">
		    <table id="table-students" class="table w-100">
				<thead class="theader">
					<tr class="text-center text-s">
						<th class="px-1 py-2 text-left text-m">Sección</th>
						<th class="px-1 py-2 text-left text-m">Docente</th>
						<th class="px-1 py-2 align-middle text-m">Ini-Fin</th>
						<th class="px-1 py-2 align-middle text-m">Horario</th>
						<th class="px-1 py-2 align-middle text-m">Aula</th>
						<th class="px-1 py-2 align-middle text-m">Sede</th>
						<th class="px-1 py-2 align-middle text-m">Cupos</th>
					</tr>
				</thead>
				<tbody>
					<ng-container *ngFor="let crse of scheduleAvailables">
						<tr class="text-center text-s" *ngFor="let section of crse.UCS_REST_DET_MREU" [ngClass]="{'selectedRow': crse.value}">
							<ng-container *ngIf="section.show || section.more">
								<td class="p-1 text-left">
									<div class="form-check">
										<input *ngIf="section.show" class="form-check-input" [disabled]="checkCap(crse)" type="checkbox" id="{{crse.SECCION + crse.NRO_CLASE}}" [(ngModel)]="crse.value" (change)='changeSchedule(crse, $event)' value="{{crse.SECCION + crse.NRO_CLASE}}" [checked]="crse.value">
										<label class="form-check-label" for="{{crse.SECCION + crse.NRO_CLASE}}"> {{crse.SECCION}}-{{crse.CODIGO_COMPONENTE}}({{crse.NRO_CLASE}}) </label>
										<span *ngIf="crse.ID_CURSO != selectedCourse.CRSE_ID">- {{crse.ID_CURSO}} {{crse.DESCR_CURSO}}*</span>
								    </div>
								</td>
								<td class="p-1 text-left docente">{{section.UCS_REST_DET_DOC?section.UCS_REST_DET_DOC[0].NOMBRE_DOCENTE:'Sin Docente'}}</td>
								<td class="p-1 text-center">{{section.FECHA_INICIAL | date:'dd/MM' }} - {{section.FECHA_FINAL | date:'dd/MM'}}</td>
								<td class="p-1 text-center" *ngIf="section.TIPO!='VIRT'">{{section.DIA}}: {{section.HORA_INICIO}} - {{section.HORA_FIN}}</td>
								<td class="p-1 text-center" *ngIf="section.TIPO=='VIRT'">Virtual</td>
								<td class="p-1 text-center">{{section.TIPO=='VIRT'?'-':section.CODIGO_AULA}}</td>
								<td class="p-1 text-center">{{section.TIPO=='VIRT'?'-':section.UBICACION_INS}}</td>
								<td class="icon_container p-1 text-center"><span>{{(crse.TOTAL_CAPACIDAD - crse.TOTAL_INSCRITOS)<=0?'0':crse.TOTAL_CAPACIDAD - crse.TOTAL_INSCRITOS}}</span><i ngxTooltip [tooltipContent]="!crse.up?'Ver detalle':''" *ngIf="section.show && countASS(crse)" (click)="showMore(crse)"  [ngClass]="{'fa-caret-down': !crse.up,'fa-caret-up': crse.up}" class="fa arrow_down arrow_icon" aria-hidden="true"></i></td>
								<!--<i class="fa fa-caret-up" aria-hidden="true"></i>-->
							</ng-container>
						</tr>
					</ng-container>
					<tr *ngIf="scheduleAvailables.length == 0">
						<td colspan="7">No hay Horarios programado para el Curso</td>
					</tr>
				</tbody>
			</table>
	  	</div>

		<div class="row justify-content-center mb-3">
			<button [disabled]="scheduleAvailables.length == 0" (click)="confirmEnroll()" class="btn btn-orange m-2">Reservar</button>
			<button [disabled]="scheduleAvailables.length == 0" (click)="callModal(true)" class="btn btn-orange m-2">Vista previa del Horario</button>
		</div>
	</div>
</ngx-smart-modal>

<ngx-smart-modal #IntentionEnrollmentBack identifier="IntentionEnrollmentBack" [closable]="false" [escapable]="false" [dismissable]="false" [customClass]="'smallModall fullModal p-post-header'">
	<div class="bg-{{company}} p-4 rounded-t-1"> </div>
	<div class="text-left p-2 px-5 mb-3">
		<h5 class="text-{{company}} font-weight-bold text-center">Estimado Alumno</h5>
		<div> Tus fechas de inscripción ya culminaron. </div>
	</div>
	<div class="row justify-content-center mb-3">
		<button class="btn rounded-1 px-4 btn-{{company}} mr-3" (click)="goDashboard()">FINALIZAR</button>
	</div>
</ngx-smart-modal>

<ngx-smart-modal #selectCycleModal identifier="selectCycleModal" [closable]="false" [escapable]="false" [dismissable]="false" [customClass]="'smallModall fullModal pt-4'">
	<div class="bg-{{company}} p-4 rounded-t-1">
		
	</div>
	<div class="text-left p-2">
		<h5 class="text-{{company}} font-weight-bold text-l">Ciclos</h5>
		<p> Elige tu Ciclo de matricula </p>
		<div class="form-group scroll h-s">
		    <table id="table-students" class="w-100">
				<thead class="">
					<tr class="text-center text-s">
						<th class="px-1 py-2 text-{{company}} text-left text-m">Ciclo Lectivo</th>
						<th class="px-1 py-2 text-{{company}} align-middle text-m">Descripción</th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-center text-s" *ngFor="let cycle of cycles">
						<td class="p-1 text-left">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" id="{{cycle.CICLO_LECTIVO}}" [(ngModel)]="cycle.value" value="{{cycle.CICLO_LECTIVO}}" (change)='changeCycle(cycle)'>
								<label class="form-check-label" for="{{cycle.CICLO_LECTIVO}}"> {{cycle.CICLO_LECTIVO}} </label>
						    </div>
						</td>
						<td class="p-1 text-center"> {{cycle.DESCR_CICLO }} </td>
					</tr>
				</tbody>
			</table>
	  	</div>
	</div>
	<div class="row justify-content-center mb-3 px-5">
		<button class="btn rounded-1 px-4 btn-{{company}} mr-3" (click)="saveCycle()">Seleccionar</button>
	</div>
</ngx-smart-modal>

<ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>