<div class="sidebar d-flex">
  <div class="sidebar-menu-mobile" *ngIf="showMenu" (click)="showMenu=!showMenu">
    <app-menu-items [widthMenu]="showMenu?260:0"></app-menu-items>
  </div>
  <app-menu-items class="d-none d-xl-block" [widthMenu]="260"></app-menu-items>
  <app-menu-items class="d-xl-none d-none d-sm-block" [widthMenu]="72"></app-menu-items>
  <div class="sidebar-content d-flex flex-column pt-2">

    <div class="px-4 py-3">
      <ng-content></ng-content>
    </div>

    <app-footer class="mt-auto"></app-footer>
  </div>
</div>