<app-sidebar>
	<div class="row-custom row">
		<div class="col-md-6 col-lg-4 pl-md-0 d-block d-md-none mb-1">
			<h2 class="py-2 text-inital">
				<span class="text-ucs">¡Hola {{student?.firstNombreAlumno | uppercase }}!</span>
				Bienvenid{{student?.sexo=='F'?'a':'o'}}.
			</h2>
			<app-menu-course (openZoomEmit)="preGoMoodle($event)" [student]="student" [course]="course" [loadCourse]="loadCourse"></app-menu-course>
		</div>
		
		<div class="col-md-6 col-lg-8 px-0 mb-4">
			<div class="row">
				<div class="col-12 mb-4 d-none d-md-block">
					<div class="card-custom p-4 d-flex justify-content-between align-items-center">
						<div>
							<h3 class="text-inital">
								<span class="text-ucs">¡Hola {{student?.firstNombreAlumno | uppercase }}!</span>
								Bienvenid{{student?.sexo=='F'?'a':'o'}}.
							</h3>
							<p class="text-justify">“{{phrase.text}}”</p>
							<p class="text-ucs text-right">{{phrase.author}}</p>
						</div>
						<div *ngIf="student?.sexo" class="ml-4 d-none d-lg-block">
							<img width="250px" src="./assets/img/student-{{student?.sexo}}.png">
						</div>
					</div>
				</div>
				<div class="col-lg-4 pr-lg-0 mb-4 d-none d-xl-block">
					<div (click)="showBiblioteca()"
						class="card-custom hover-links h-100 py-3 d-md-flex pointer justify-content-center align-items-center">
						<img class="pl-md-1 pr-md-3" src="./assets/img/library.svg">
						<div>
							<strong class="text-dark">Biblioteca online</strong>
							<p class="m-0 text-secondary small-11">Red de bibliotecas</p>
						</div>
					</div>
				</div>
				<div class="col-4 mb-4 d-block d-xl-none pr-md-0">
					<div (click)="showBiblioteca()" class="card-custom hover-links h-100 py-3 px-1 text-center pointer">
						<img src="./assets/img/library.svg">
						<div class="mt-2" style="line-height: normal !important">
							<strong class="text-dark">Biblioteca online</strong>
						</div>
					</div>
				</div>
				<div class="col-lg-4 pr-lg-0 mb-4 d-none d-xl-block">
					<a href="https://empleabilidad.cientifica.edu.pe/" target="_blank" gtagEvent trackOn="click" action="employability" category="link">
						<div
							class="card-custom hover-links h-100 py-3 d-flex justify-content-center align-items-center">
							<img class="pr-md-3" src="./assets/img/job.svg">
							<div>
								<strong class="text-dark">Bolsa de trabajo</strong>
								<p class="m-0 text-secondary small-11">Trabajo y Prácticas</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-4 mb-4 d-block d-xl-none pr-md-0">
					<a href="https://empleabilidad.cientifica.edu.pe/" target="_blank" gtagEvent trackOn="click" action="employability" category="link">
						<div class="card-custom hover-links h-100 py-3 px-1 text-center">
							<img src="./assets/img/job.svg">
							<div class="mt-2" style="line-height: normal !important">
								<strong class="text-dark">Bolsa de trabajo</strong>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 mb-4 d-none d-xl-block">
					<a href="https://mail.office365.com/" target="_blank" gtagEvent trackOn="click" action="mail_ucsur" category="link">
						<div
							class="card-custom hover-links h-100 py-3 d-flex justify-content-center align-items-center">
							<img class="pr-md-3" src="./assets/img/mail.svg">
							<div>
								<strong class="text-dark">Mi correo</strong>
								<p class="m-0 text-secondary small-11">Buzón UCSUR</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-4 mb-4 d-block d-xl-none">
					<a href="https://mail.office365.com/" target="_blank" gtagEvent trackOn="click" action="mail_ucsur" category="link">
						<div class="card-custom hover-links h-100 py-3 px-1 text-center">
							<img class="mt-2" src="./assets/img/mail.svg">
							<div class="mt-2" style="line-height: normal !important">
								<strong class="text-dark">Mi correo</strong>
							</div>
						</div>
					</a>
				</div>

				<div class="col-lg-12">
					<app-notice [notice]="notice"></app-notice>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-4 pl-md-0 d-none d-md-block">
			<app-menu-course (openZoomEmit)="preGoMoodle($event)" [student]="student" [course]="course" [loadCourse]="loadCourse"></app-menu-course>
			<!-- <div class="col-lg-12 px-0 mb-4">
				<a href="https://vimeo.com/543771141/6b0074e2d5" target="_blank" gtagEvent trackOn="click" action="vimeo_tutorial_av_home" category="video">
					<div class="card-custom hover-links h-100 py-3 px-4 d-flex justify-content-center align-items-center">
						<img class="pl-md-1 pr-md-3 pr-2" src="./assets/img/video.svg">
						<div>
							<strong class="text-dark">Tutoriales</strong>
							<p class="m-0 text-secondary small-11">Guía sobre Aula virtual</p>
						</div>
					</div>
				</a>
			</div> -->
			<div class="col-lg-12 px-0 mb-4">
				<div class="card-custom h-100 py-3 px-4 d-flex justify-content-center align-items-center d-flex flex-column">
					<div class="data-enroll text-{{!queueEnroll.turnText?'red':(queueEnroll.onTurn?'turn':'red')}}">
						<p class="myTurn m-0">{{queueEnroll.turnText?queueEnroll.turnText:'Aún no tienes Turno de Matricula'}}</p>
					</div>
					<div class="row justify-content-center align-items-center mb-2 mt-4">
						<div *ngIf="enroll && enroll_conditions" class="text-center mx-1 pointer" (click)="openModal('A',enroll_conditions.FLAG_ACADEMICO)">
						  <i class="fa fa-file-pdf-o text-sd text-red mb-2"></i>
						  <div class="bg-black text-white p-2 text-s">
							<p class="m-0">Condiciones</p>
							<p class="m-0">Académicas</p>
						  </div>
						  <div *ngIf="enroll && enroll_conditions && enroll_conditions.FLAG_ACADEMICO" class="bg-{{enroll_conditions.FLAG_ACADEMICO == 'Y'?'green':'red'}} text-white p-2 text-s">
							<p class="m-0">{{enroll_conditions.FLAG_ACADEMICO == 'Y'?'Aceptado':'No Aceptado'}}
							</p>
						  </div>
						</div>
						<div *ngIf="enroll && enroll_conditions" class="text-center mx-1 pointer" (click)="openModal('F',enroll_conditions.FLAG_FINANCIERO)">
						  <i class="fa fa-file-pdf-o text-sd text-red mb-2"></i>
						  <div class="bg-black text-white p-2 text-s">
							<p class="m-0">Condiciones</p>
							<p class="m-0">Financieras</p>
						  </div>
						  <div *ngIf="enroll && enroll_conditions && enroll_conditions.FLAG_FINANCIERO" class="bg-{{enroll_conditions.FLAG_FINANCIERO == 'Y'?'green':'red'}} text-white p-2 text-s">
							<p class="m-0">{{enroll_conditions.FLAG_FINANCIERO == 'Y'?'Aceptado':'No Aceptado'}}</p>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-12 mb-2 d-block d-md-none">
			<a href="https://vimeo.com/543771141/6b0074e2d5" target="_blank" gtagEvent trackOn="click" action="vimeo_tutorial_av_home" category="video">
				<div class="card-custom hover-links h-100 py-3 px-4 d-flex justify-content-center align-items-center">
					<img class="pl-md-1 pr-md-3 pr-2" src="./assets/img/video.svg">
					<div>
						<strong class="text-dark">Tutoriales</strong>
						<p class="m-0 text-secondary small-11">Guía sobre Aula virtual</p>
					</div>
				</div>
			</a>
		</div>
	</div>
</app-sidebar>

<div class="position-fixed float-wsp-br row align-items-end flex-column">
	<div class="row flex-column bg-white m-2 p-3 rounded-1 shadow position-relative" *ngIf="showwsp">
		<div class="triangle-b bd-t-white position-absolute float-triangle-br"></div>
		<!-- <a href="https://api.whatsapp.com/send?phone=5117071809&text=Hola,%20Cobranzas%20Cient%C3%ADfica" target="_blank" class="text-black text-xm p-1"><i class="fa fa-whatsapp text-wsp text-l"></i> Cobranzas Científica </a> -->
		<!-- <a href="https://api.whatsapp.com/send?phone=5117071810" target="_blank" class="text-black text-xm p-1"><i class="fa fa-whatsapp text-wsp text-l"></i> Atención Alumno </a> -->
		<!-- <a href="https://api.whatsapp.com/send?phone=16178301716" target="_blank" class="text-black text-xm p-1" gtagEvent trackOn="click" action="wsp_cobranza" category="wsp"><i
				class="fa fa-whatsapp text-wsp text-l"></i> Asesor Cobranza </a> -->
		<a href="https://api.whatsapp.com/send?phone=5117071810" target="_blank" class="text-black text-xm p-1" gtagEvent trackOn="click" action="wsp_matricula" category="wsp"><i
				class="fa fa-whatsapp text-wsp text-l"></i> Asesor Matricula </a>
		<!-- <a href="https://api.whatsapp.com/send?phone=5117071824&text=Hola,%20me%20puedes%20ayudar%20con%20temas%20acad%C3%A9micos" target="_blank" class="text-black text-xm p-1"><i class="fa fa-whatsapp text-wsp text-l"></i> Registros y Programación </a> -->
	</div>
	<div class="text-right">
		<a (click)="showwsp = !showwsp" class="pointer">
			<img style="width: 73px" src="./assets/img/whatsapp.svg">
		</a>
	</div>
</div>

<ngx-smart-modal #SurveyModal identifier="SurveyModal" [closable]="false"
	[customClass]="'mediumModal fullModal p-post-header'">
	<div class="p-2">
		<iframe id="vimeoVideo" src="https://player.vimeo.com/video/438413404" width="100%" height="450" frameborder="0"
			allow="autoplay; fullscreen" allowfullscreen></iframe>
	</div>
	<div class="btn-close-float p-2">
		<a (click)="SurveyModal.close()" class="pointer d-block p-2 bg-black-a circle-x"><i
				class="fa fa-times text-white text-l"></i></a>
	</div>
</ngx-smart-modal>

<ngx-smart-modal #SurveyModal2 identifier="SurveyModal2" [closable]="false" [customClass]="'fullModal p-post-header'">
	<div class="bg-{{company}} p-4 rounded-t-1">
		<div class="btn-close-float p-3">
			<a (click)="ngxSmartModalService.close('SurveyModal2')" class="pointer"><i
					class="fa fa-times text-white text-l"></i></a>
		</div>
	</div>
	<div class="text-left p-3 px-5">
		<h5 class="text-{{company}} font-weight-bold text-sd  mb-3">¡Anuncio Importante!</h5>
		<div class="mb-3"> Estimado alumno, </div>
		<div> En estos momentos la plataforma ZOOM experimenta una caída a nivel mundial presentando imposibilidad de
			conexión (<a href="https://status.zoom.us/" target="_blank">https://status.zoom.us/</a>). </div>
		<div> Por tal motivo, porque la solución escapa de nuestras manos y mientras estamos a la espera que los
			ingenieros de Zoom solucionen el problema, hemos decidido cancelar las clases de hoy 24 de agosto de 2020
			hasta las 13:00 horas. esperando poder reiniciar con las clases a partir de esa hora, siempre y cuando ZOOM
			solucione el problema. </div>
		<div class="mt-3 text-{{company}}"> Universidad Científica del Sur </div>
	</div>
</ngx-smart-modal>

<article *ngFor="let notification of notifications; let i = 'index'">
	<ngx-smart-modal #NotificationModal{{i}} identifier="NotificationModal{{i}}" [closable]="false"
		[customClass]="'fullModal p-post-header'">
		<div class="bg-{{company}} p-4 rounded-t-1">
			<div class="btn-close-float p-3">
				<a (click)="ngxSmartModalService.close('NotificationModal' + i)" class="pointer"><i
						class="fa fa-times text-white text-l"></i></a>
			</div>
		</div>
		<div class="text-left p-2 px-5">
			<h5 *ngIf="notification.title" class="text-{{company}} font-weight-bold text-sd  mb-3">
				{{notification.title?notification.title:''}}</h5>
			<div *ngIf="notification.description" [innerHTML]="notification.description?notification.description:''">
			</div>
		</div>
	</ngx-smart-modal>
</article>

<ngx-smart-modal #AcademicConditionModal identifier="AcademicConditionModal" [closable]="false"
	[customClass]="'mediumModal fullModal p-post-header'">
	<div class="bg-{{company}} p-4 rounded-t-1">
		<div class="btn-close-float p-3">
			<a (click)="AcademicConditionModal.close()" class="pointer"><i
					class="fa fa-times text-white text-l"></i></a>
		</div>
	</div>
	<div class="text-left p-2 px-5">
		<h5 class="text-{{company}} font-weight-bold text-center">Condiciones Académicas</h5>
	</div>
	<!-- <div class="h-fn scroll fullModal">
		<img class="w-100" src="./assets/pdfjs/web/condiciones_academicas/condiciones_academicas_{{ac + 1}}.jpg" *ngFor="let imgAC of imagesAcadConditions; let ac = 'index'">
		<ng2-pdfjs-viewer [externalWindow]="false" [viewBookmark]="true" [download]="true" pdfSrc="condiciones_academicas.pdf"></ng2-pdfjs-viewer>
	</div> -->
	<div class="row justify-content-center my-3">
		<a href="assets/pdfjs/academicas/condiciones_academicas.pdf" target="_blank"
			class="btn rounded-1 px-4 btn-{{company}} {{enroll_conditions.FLAG_ACADEMICO != 'Y'?'mr-3':''}}">Leer
			Condiciones</a>
		<button *ngIf="enroll_conditions.FLAG_ACADEMICO != 'Y'"
			class="btn rounded-1 px-4 btn-{{company}}"
			(click)="saveConditions('FLAG_ACADEMICO', AcademicConditionModal)">ACEPTAR</button>
	</div>
</ngx-smart-modal>

<ngx-smart-modal #FinancialConditionModal identifier="FinancialConditionModal" [closable]="false"
	[customClass]="'mediumModal fullModal p-post-header'">
	<div class="bg-{{company}} p-4 rounded-t-1">
		<div class="btn-close-float p-3">
			<a (click)="FinancialConditionModal.close()" class="pointer"><i
					class="fa fa-times text-white text-l"></i></a>
		</div>
	</div>
	<div class="text-left p-2 px-5">
		<h5 class="text-{{company}} font-weight-bold text-center">Condiciones Financieras</h5>
	</div>
	<!-- <div class="h-fn scroll fullModal">
		<img class="w-100" src="./assets/pdfjs/web/condiciones_financieras/condiciones_financieras_{{ac + 1}}.jpg" *ngFor="let imgAC of imagesFinaConditions; let ac = 'index'">
	</div> -->
	<div class="row justify-content-center my-3">
		<a href="assets/pdfjs/financieras/condiciones_financieras.pdf" target="_blank"
			class="btn rounded-1 px-4 btn-{{company}} {{enroll_conditions.FLAG_FINANCIERO != 'Y'?'mr-3':''}}">Leer
			Condiciones</a>
		<button *ngIf="enroll_conditions.FLAG_FINANCIERO != 'Y'"
			class="btn rounded-1 px-4 btn-{{company}} mr-3"
			(click)="saveConditions('FLAG_FINANCIERO', FinancialConditionModal)">ACEPTAR</button>
	</div>
</ngx-smart-modal>

<ngx-smart-modal #AnnouncementModal identifier="AnnouncementModal" [closable]="false"
	[customClass]="'fullModal p-post-header'">
	<div class="bg-{{company}} p-4 rounded-t-1">
		<div class="btn-close-float p-3">
			<a (click)="AnnouncementModal.close()" class="pointer"><i class="fa fa-times text-white text-l"></i></a>
		</div>
	</div>
	<div class="text-left p-2 px-5">
		<h4 class="text-{{company}} font-weight-bold text-center">Encuesta de Servicios 2020-2</h4>
	</div>
	<div class="scroll px-2">
		<a target="_blank" [href]="fidelityLink">
			<!-- <img class="w-100" src="./assets/img/fidelidad_survey.png"> -->
		</a>
		<p class="mt-2 text-center"><a class="text-{{company}}" target="_blank" [href]="fidelityLink">Ingresar a la
				encuesta</a></p>
	</div>
</ngx-smart-modal>

<ngx-smart-modal #ModdleLinkModal identifier="ModdleLinkModal" [escapable]="false" [dismissable]="false"
	[closable]="false" [customClass]="'fullModal p-post-header'">
	<div class="bg-{{company}} p-4 rounded-t-1">
		<div class="btn-close-float p-3">
			<a (click)="ModdleLinkModal.close()" class="pointer"><i class="fa fa-times text-white text-l"></i></a>
		</div>
	</div>
	<div class="text-left p-2 px-5">
		<h4 class="text-{{company}} font-weight-bold text-center">Ingresa a la prueba de Cultura Financiera</h4>
	</div>
	<div class="fullModal px-2">
		<!-- <a target="_blank" href="https://sedd.cientifica.edu.pe/login/ingresar"><img class="w-100" src="./assets/img/encuesta_3.png"></a> -->
		<p class="mt-2 text-center moodleLink">Ingresa Aquí</p>
	</div>
</ngx-smart-modal>

<ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>

<ngx-smart-modal #ModdleLinkModal2 identifier="ModdleLinkModal2" [escapable]="false" [dismissable]="false"
	[closable]="false" [customClass]="'fullModal p-post-header'">
	<div class="bg-{{company}} p-4 rounded-t-1">
		<div class="btn-close-float p-3">
			<a (click)="ModdleLinkModal2.close()" class="pointer"><i class="fa fa-times text-white text-l"></i></a>
		</div>
	</div>
	<div class="text-left p-2 px-5">
		<h4 class="text-{{company}} font-weight-bold text-center">CURSO: NÚCLEO DE APOYO CONTABLE Y FISCAL (NAF) -
			2020-2</h4>
	</div>
	<div class="fullModal px-2">
		<!-- <a target="_blank" href="https://sedd.cientifica.edu.pe/login/ingresar"><img class="w-100" src="./assets/img/encuesta_3.png"></a> -->
		<p (click)="goMoodle()" class="mt-2 text-center moodleLink">Ingresa Aquí</p>
	</div>
</ngx-smart-modal>

<ngx-smart-modal #medicineModal identifier="medicineModal" [closable]="false" [escapable]="true" [dismissable]="true"
	[customClass]="'smallModal fullModal'">
	<!-- <img class="w-100 rounded-1" src="./assets/img/comunicado_medicina.jpg"> -->
	<div class="btn-close-float p-2">
		<a (click)="medicineModal.close()" class="pointer d-block p-2 bg-black-a circle-x"><i
				class="fa fa-times text-white text-l"></i></a>
	</div>
</ngx-smart-modal>

<ngx-smart-modal #aficheModal identifier="aficheModal" [closable]="false" [escapable]="true" [dismissable]="true"
	[customClass]="'smallModal fullModal'">
	<!-- <img class="w-100 rounded-1" src="./assets/img/afiche1.png"> -->
	<div class="btn-close-float p-2">
		<a (click)="aficheModal.close()" class="pointer d-block p-2 bg-black-a circle-x">
			<i class="fa fa-times text-white text-l"></i>
		</a>
	</div>
	<div class="buttonsAfiche my-2">
		<button class="btn btn-afiche"><a href="https://es.surveymonkey.com/r/65NJ9T6"
				target="_blank">Pregrado</a></button>
		<button class="btn btn-afiche"><a href="https://es.surveymonkey.com/r/53VMRMK" target="_blank">CPE</a></button>
	</div>
</ngx-smart-modal>

<ngx-smart-modal #allModal identifier="allModal" [closable]="false" [customClass]="'fullModal p-post-header'">
	<a [href]="linktoSurvey" target="_blank">
		<!-- <img class="w-100 rounded-1" src="./assets/img/encuesta_cpe.jpg"> -->
	</a>
	<div class="btn-close-float p-2">
		<a (click)="allModal.close()" class="pointer d-block p-2 bg-black-a circle-x">
			<i class="fa fa-times text-white text-l"></i>
		</a>
	</div>
</ngx-smart-modal>

<!-- <ngx-smart-modal #modalComunicado identifier="modalComunicado" [closable]="false" [escapable]="false" [dismissable]="false" [customClass]="'smallModal fullModal p-post-header'">
	<a href="https://vimeo.com/574208276/3e3add1bef" target="_blank">
		<img class="w-100 rounded-1" src="./assets/img/tips.png">
	</a>
	<div class="btn-close-float p-2">
		<a (click)="modalComunicado.close()" class="pointer d-block p-2 bg-black-a circle-x">
			<i class="fa fa-times text-white text-l"></i>
		</a>
	</div>
</ngx-smart-modal> -->

<ngx-smart-modal #postModal identifier="postModal" [closable]="false" [escapable]="true" [dismissable]="true"
	[customClass]="'smallModall fullModal'">
	<div class="bg-{{company}} p-2 rounded-t-1">Pagos en linea</div>
	<div class="p-3">
		<h6 class="text-center">
			Estimado Alumno, realiza tú pago desde la comodidad de tu hogar.
			Siguiendo los pasos según tu banco de preferencia:
		</h6>
		<div class="list_banks">
			<a href="https://www.cientifica.edu.pe/sites/default/files/2021-07/BCP%20App%20y%20banca.pdf"
				target="_blank" class="box_bank">
				<p>BCP</p>
			</a>
			<a href="https://www.cientifica.edu.pe/sites/default/files/2021-07/Interbank%20-%20APP%20Y%20PAGINA%20WEB.pdf"
				target="_blank" class="box_bank">
				<p>INTERBANK</p>
			</a>
			<a href="https://www.cientifica.edu.pe/sites/default/files/2021-07/scotia.pdf" target="_blank"
				class="box_bank">
				<p>SCOTIABANK</p>
			</a>
		</div>
	</div>
	<div class="btn-close-float p-2">
		<a (click)="postModal.close()" class="pointer d-block p-2 bg-black-a circle-x">
			<i class="fa fa-times text-white text-l"></i>
		</a>
	</div>
</ngx-smart-modal>

<ngx-smart-modal #preModal identifier="preModal" [closable]="false" [escapable]="true" [dismissable]="true"
	[customClass]="'smallModall fullModal'">
	<!-- <a href="https://sedd.cientifica.edu.pe/login/ingresar" target="_blank"> -->
	<!-- <img class="w-100 rounded-1" src="./assets/img/opinion_yes.jpg"> -->
	<div class="btn-close-float p-2">
		<a (click)="preModal.close()" class="pointer d-block p-2 bg-black-a circle-x"><i
				class="fa fa-times text-white text-l"></i></a>
	</div>
	<!-- <div class="buttonInModal">
			<button class="btn btn-orange">Ingresa aqui</button>
		</div> -->
	<!-- </a> -->
	<!-- <div class="btn-close-float p-2">
		<a (click)="preModal.close()" class="pointer d-block p-2 bg-black-a circle-x"><i
				class="fa fa-times text-white text-l"></i></a>
	</div> -->
</ngx-smart-modal>

<ngx-smart-modal #ethnicityModal identifier="ethnicityModal" [closable]="false" [escapable]="false"
	[dismissable]="false" [customClass]="''">
	<div class="text-center mb-3">
		<h5>Actualización de Datos</h5>
	</div>
	<p class="m-0">Estimado docente, </p>
	<p>A solicitud del MINEDU requerimos su apoyo para registrar la siguiente información:</p>

	<div class="form">
		<div class="form-group">
			<label class="form-label"> Etnía a la que pertenece </label>
			<select class="form-control" name="etnia" [(ngModel)]="realEthnicity">
				<option value=""> SELECCIONE </option>
				<option *ngFor="let ethnicity of ethnicities" value="{{ethnicity.value}}"> {{ethnicity.name}} </option>
			</select>
		</div>

		<div *ngIf="realEthnicity == '08'" class="form-group">
			<label class="form-label"> Por favor Registre </label>
			<input class="form-control" type="text" name="otros" [(ngModel)]="realOther" placeholder="Otros">
		</div>
	</div>

	<div class="text-center">
		<button (click)="ethnicityModal.close()" class="btn btn-secondary mr-2">Cerrar</button>
		<button (click)="saveEthnicity()" class="btn btn-success">Guardar</button>
	</div>
</ngx-smart-modal>

<ngx-smart-modal #matriculaExtracurricularModal identifier="matriculaExtracurricularModal" [closable]="false"
	[escapable]="false" [dismissable]="false" [customClass]="'smallModall fullModal pt-5 mt-5'">
	<div class="bg-{{company}} p-2 rounded-t-1">Extracurriculares</div>
	<div class="p-3">
		<p class="text-center"> ¿Deseas matricularte en cursos Extracurriculares? </p>
	</div>
	<div class="row d-flex justify-content-center mb-3 px-5">
		<button class="btn btn-res btn-{{company}} ml-2" (click)="matriculaExtracurricularModal.close()">NO</button>
		<button class="btn btn-res btn-{{company}} ml-2" (click)="cursosExtracurricularesModal.open()">SI</button>
	</div>
</ngx-smart-modal>

<ngx-smart-modal #answerStudentModal identifier="answerStudentModal" [closable]="false" [escapable]="false"
	[dismissable]="false" [customClass]="'smallModall fullModal pt-5 mt-5'">
	<div class="bg-{{company}} p-2 rounded-t-1">MATRICULA 2021-2 SIN TRAMITES</div>
	<div class="p-3">
		<p><b>Mejoramos y este semestre somos más agiles:</b></p>
		<p><b>¿Te matriculaste a todos los cursos que querías en la Intención de Matricula y no deseas hacer ningún
				cambio?</b></p>
		<p>Selecciona tu respuesta y luego de realizar los abonos correspondientes <span class="small-blue">(*)</span>
			nosotros registraremos tu horario y solo deberás ingresar a clases:</p>
	</div>
	<div class="row d-flex justify-content-center mb-3 px-5">
		<button class="btn btn-ra btn-{{company}} ml-2" (click)="saveAnswer(false)">Acepto</button>
		<button class="btn btn-ra btn-{{company}} ml-2" (click)="saveAnswer(true)">No Acepto</button>
	</div>
	<div class="px-3">
		<p class="small">(si cambias de opinión podrás realizar los cambios que requieras en el turno que te corresponda
			de la matricula)</p>
	</div>
	<div class="p-3">
		<p>Si no aceptas, luego de realizas los abonos correspondientes <span class="small-blue">(*)</span> podrás
			ingresar a la matricula regular <span class="small-blue">(**)</span> para realizar los cambios que necesites
			o adicionar cursos según la nueva oferta horaria.</p>
		<p class="pt-2 small-blue">(*) Matricula y 1era. Armada mínimo 24 horas antes del inicio de matrícula</p>
		<p class="small-blue">(**) Según el turno asignado por tu promedio ponderado</p>
	</div>
</ngx-smart-modal>


<ngx-smart-modal #suspensionModal identifier="suspensionModal" [closable]="false" [escapable]="false"
	[dismissable]="false" [customClass]="'smallModal fullModal p-post-header'">
	<div class="modal-header bg-{{company}} rounded-t-1 text-white text-l">
		<h5 class="modal-title " style="    padding-left: 30%;">AVISO IMPORTANTE</h5>
		<a (click)="suspensionModal.close()" class="pointer"><i class="fa fa-times text-white text-l"></i></a>
	</div>

	<div class="p-2 px-5 modalT" style="padding-bottom: 25px !important;">
		<p style="margin-top: 5px; margin-bottom: 5px;">
			Estimados estudiantes
		</p>
		<p style="margin-top: 15px; margin-bottom: 15px;text-align: justify;">
			(*) La visualización del horario de intención de matrícula 2021-2 es referencial, sujeta a cambios por
			cierre de actas de notas 2021-1 y validación de pagos correspondientes.
		</p>
		<p style="margin-top: 5px; margin-bottom: 5px;">
			De no realizar los pagos de acuerdo al calendario, se eliminarán los cursos registrados automáticamente.
		</p>
		<br>
	</div>
</ngx-smart-modal>

<!-- <ngx-smart-modal #selecStudentModal identifier="selecStudentModal" [closable]="false" [escapable]="false" [dismissable]="false" [customClass]="'smallModall fullModal pt-4'">
	<div class="bg-{{company}} p-4 rounded-t-1">
	</div>
	<div class="text-left p-2">
		<p> Codigo del Alumno </p>
		<div class="form-group scroll h-s">
		    <input name="code" type="text" class="form-group" [(ngModel)]="studentCode" placeholder="Codigo">
		    <button class="btn rounded-1 btn-{{company}} ml-2" (click)="search()">Buscar</button>
	  	</div>
	</div>
	<div class="mx-2">
		<p *ngIf="isthisStudent">Alumno: {{isthisStudent.NAME}}</p>
	</div>
	<div class="row d-flex justify-content-center mb-3 px-5">
		<button [disabled]="!isthisStudent" class="btn rounded-1 btn-{{company}} mr-3" (click)="select()">Seleccionar</button>
	</div>
</ngx-smart-modal> -->

<ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>