<div class="p-post-header row bg-imagebg full-content">
	<div class="container-2 mx-auto">
		<div class="row pt-5">
			<div class="col-md-4 p-2">
				<div class="bg-white-a p-3">
					<h5 class="text-ucs"> <strong> ¡Bienvenido! </strong> </h5>
					<h5 class="text-m"> <strong> {{student?student.nombreAlumno:''}} </strong> </h5>
					<h5 class="text-normal mb-3 pb-3 bd-b-1 bd-ucs"> <strong> {{student?student.codigoAlumno:''}} </strong> </h5>
					<p>
						Universidad Cientifica del Sur

						Nuestra Universidad forma líderes comprometidos con el desarrollo humano, social y ambiental. Ofrecemos educacion de calidad para el mundo laboral, basadas en una educacion personalizada y en el acercamiento a su profesion desde el primer ciclo.
					</p>
					<a href="https://vimeo.com/295459246/6e1168f864" target="_blank" class="btn btn-lg btn-block btn-black"> Video instructivo </a>
				</div>
			</div>
			<div class="col-md-8 p-2 mb-6">
				<div class="bg-white-a p-4 row">
					<div class="col-lg-4 col-sm-6 my-2">
						<div class="pointer circle-m bg-white row flex-wrap justify-content-center align-items-center m-auto" [routerLink]="'/estudiante/accion/horario'">
							<div class="text-center px-3">
								<img style="width: 70px" src="./assets/img/icon/horario.png">
								<p class="text-blue m-0 text-xm">Horario</p>
								<p class="text-blue m-0 text-xm">semanal</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 my-2">
						<div class="pointer circle-m bg-white row flex-wrap justify-content-center align-items-center m-auto" [routerLink]="'/estudiante/accion/datos-personales'">
							<div class="text-center px-3">
								<img style="width: 70px" src="./assets/img/icon/datos.png">
								<p class="text-orange m-0 text-xm">Datos</p>
								<p class="text-orange m-0 text-xm">personales</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 my-2">
						<div class="pointer circle-m bg-white row flex-wrap justify-content-center align-items-center m-auto" [routerLink]="'/estudiante/accion/condiciones-academicas'">
							<div class="text-center px-3">
								<img style="width: 70px" src="./assets/img/icon/academico.png">
								<p class="text-purple m-0 text-xm">Condiciones</p>
								<p class="text-purple m-0 text-xm">académicos</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 my-2">
						<div class="pointer circle-m bg-white row flex-wrap justify-content-center align-items-center m-auto" [routerLink]="'/estudiante/accion/estado-cuenta'">
							<div class="text-center px-3">
								<img style="width: 70px" src="./assets/img/icon/cuenta.png">
								<p class="text-green m-0 text-xm">Estado</p>
								<p class="text-green m-0 text-xm">de cuenta</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 my-2">
						<div class="pointer circle-m bg-white row flex-wrap justify-content-center align-items-center m-auto" [routerLink]="'/estudiante/accion/historial-cursos'">
							<div class="text-center px-3">
								<img style="width: 70px" src="./assets/img/icon/cursos.png">
								<p class="text-bluesky m-0 text-xm">Historial</p>
								<p class="text-bluesky m-0 text-xm">de cursos</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<ngx-smart-modal #SurveyModal identifier="SurveyModal" [customClass]="'mediumModal p-post-header'">
	<a href="https://sedd.cientifica.edu.pe/login/ingresar" target="_blank"><img class="w-100" src="./assets/img/encuesta.png"></a>
</ngx-smart-modal>