<h5> <strong> Mis Datos Personales </strong> </h5>

<div class="bg-gray-a p-4">
	<div class="row align-items-center">
		<div class="col-4">
			<div class="circle-x bg-white-a2">
				<img class="w-100" src="./assets/img/icon/user.png">
			</div>
		</div>

		<div class="col-8 p-2">
			<div class="bg-white p-3">
				<h5 class="text-orange text-m m-0"> <strong> Nombre </strong> </h5>
				<p class="m-0 mb-1"> {{ student.nombreAlumno + ' ' + student.apellidoAlumno }} </p>
				<h5 class="text-orange text-m m-0"> <strong> Código </strong> </h5>
				<p class="m-0 mb-1"> {{ student.codigoAlumno }} </p>
				<h5 class="text-orange text-m m-0"> <strong> Correo </strong> </h5>
				<p class="m-0 mb-1"> {{ student.correo }} </p>
				<h5 class="text-orange text-m m-0"> <strong> Télefono </strong> </h5>
				<p class="m-0 mb-1"> {{ student.telefono }} </p>
				<h5 class="text-orange text-m m-0"> <strong> Dirección </strong> </h5>
				<p class="m-0"> {{ student.direccion }} </p>
			</div>
		</div>
	</div>
</div>