<div class="row bg-imagebg full-content-h position-relative min-content-normal align-items-center justify-content-center">
	<div class="col-md-7 col-sm-10 col-11 pt-5">
		<div class="row d-flex justify-content-center mb-3 px-5">
			<button [disabled]="!userBackOffice"class="btn rounded-1 btn-{{company}} mr-3" (click)="selectProcess1()">MiPORTAL</button>
			<button disabled class="btn rounded-1 btn-{{company}} mr-3" (click)="selectProcess2()">MATRICULA</button>
			<!-- <button [disabled]="!userBackOffice" class="btn rounded-1 btn-{{company}} mr-3" (click)="selectProcess2()">MATRICULA</button> -->
		</div>
    </div>
	<div class="col-md-6">
		<div class="row d-flex justify-content-center mb-3 px-5">
		</div>
	</div>
</div>

<ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>



<ngx-smart-modal #selecStudentModal identifier="selecStudentModal" [closable]="modalClose" [escapable]="false" [dismissable]="modalClose" [customClass]="'smallModall fullModal pt-4'">
	<div class="bg-{{company}} p-3 rounded-t-1">Proceso de MiPortal</div>
	<div class="text-left p-2">
		<p> Codigo del Alumno </p>
		<div class="form-group scroll h-s">
		    <input name="code" type="text" class="form-group" [(ngModel)]="studentCode" placeholder="Codigo">
		    <button class="btn rounded-1 btn-{{company}} ml-2" (click)="search()">Buscar</button>
	  	</div>
	</div>
	<div class="mx-2">
		<p *ngIf="isthisStudent">Alumno: {{isthisStudent.NAME}}</p>
	</div>
	<div class="row d-flex justify-content-center mb-3 px-5">
		<button [disabled]="!isthisStudent" class="btn rounded-1 btn-{{company}} mr-3" (click)="select()">Seleccionar</button>
	</div>
</ngx-smart-modal>

<ngx-smart-modal #selecEnrollmentModal identifier="selecEnrollmentModal" [closable]="modalClose" [escapable]="false" [dismissable]="modalClose" [customClass]="'smallModall fullModal pt-4'">
	<div class="bg-{{company}} p-3 rounded-t-1">Proceso de Matrícula</div>
	<div class="text-left p-2">
		<p> Codigo del Alumno </p>
		<div class="form-group scroll h-s">
		    <input name="code" type="text" class="form-group" [(ngModel)]="studentCode" placeholder="Codigo">
		    <button class="btn rounded-1 btn-{{company}} ml-2" (click)="search()">Buscar</button>
	  	</div>
	</div>
	<div class="mx-2">
		<p *ngIf="isthisStudent">Alumno: {{isthisStudent.NAME}}</p>
	</div>
	<div class="row d-flex justify-content-center mb-3 px-5">
		<button [disabled]="!isthisStudent" class="btn rounded-1 btn-{{company}} mr-3" (click)="select2()">Seleccionar</button>
	</div>
</ngx-smart-modal>