<div class="row bg-{{company}} header">
	<div class="row container-2 mx-auto px-3 align-items-center justify-content-between">
		<img src="./assets/img//logo.png" class="img-hs">
		<a href="/estudiante" class="text-m text-white py-3 bd-b-5 bd-black"> <h5 class="m-0"> <strong> INICIO </strong> </h5> </a>
		<div class="row position-relative">
			<div class="circle-q bg-white-a pointer" (click)="menus = !menus">
				<img src="./assets/img/icon/user.png" class="img-q"> 
			</div>
			<div class="bg-white drop" *ngIf="menus">
				<a href="https://academico.cientifica.edu.pe/psc/CS90PRD_PWD/EMPLOYEE/HRMS/c/MAINTAIN_SECURITY.EMAIL_PSWD.GBL?" class="d-block m-0 text-{{company}} p-2 px-3 bd-b-1 bd-{{company}}"> <i class="fa fa-lock"></i> Cambiar contraseña</a>
				<a class="d-block m-0 text-{{company}} p-2 px-3 pointer" (click)="logout()"> <i class="fa fa-undo"></i> Cerrar sesión</a>
			</div>
		</div>
			
	</div>
</div>

<!-- <div class="post-header "> -->
	<router-outlet></router-outlet>
<!-- </div> -->

<div class="footer">
	<div class="row bg-{{company}}-a">
		<div class="row container-2 mx-auto px-3 py-3 align-items-center justify-content-between">
			<!-- <a href="" class="text-m text-white"> Mi Matrícula </a> -->
			<!-- <a (click)="openIntentionEnrollment()" *ngIf="enrollmentStatus && enrollmentStatus.enrollment_intention_status == 'A' && enrollmentStatus.authorizacion && enrollmentStatus.type == 'PM'" class="text-m text-white pointer">Intención de Matrícula</a> -->
			<a (click)="openIntensiveModal()" *ngIf="enrollmentIntensiveStatus && enrollmentIntensiveStatus.enrollment_intention_status == 'A' && enrollmentIntensiveStatus.authorizacion && enrollmentIntensiveStatus.type == 'MI'" class="text-m text-white pointer">Programa Intensivo</a>
			<a (click)="libraryModal.open()" class="text-m text-white pointer"> Biblioteca en Línea </a>
			<a *ngIf="enroll" (click)="getEnrollSchedule()" class="text-m text-white pointer"> Consulta de Horarios </a>
			<a (click)="linkModal.open()" class="text-m text-white pointer"> Mis Links </a>
		</div>
	</div>
	<div class="bg-black py-2">	</div>
</div>

<ngx-smart-modal #libraryModal identifier="libraryModal" [closable]="false" [escapable]="false" [dismissable]="false" [customClass]="'mediumModal p-post-header'">
	<div class="mb-3 row justify-content-between pb-2 bd-b-1 bd-{{company}}">
		<h5 class=""> <strong> BIBLIOTECA EN LÍNEA </strong> </h5>
		<a (click)="libraryModal.close()" class="pointer"><i class="fa fa-times text-{{company}} text-l"></i></a>
	</div>
	<div class="scroll">
		<div class="rounded-s bd-1 mb-3 overflow-hidden bd-{{company}}" *ngFor="let typelibrary of typeLibraries">
			<div (click)="toggle(typelibrary)" class="bg-{{company}} p-2 text-white pointer">
				{{typelibrary.name}}
			</div>
			<div [@openClose]="typelibrary.isOpen ? 'open' : 'closed'" class="pd-3 {{typelibrary.subtypes?'':'scroll'}}">
				<div *ngIf="!typelibrary.subtypes" class="row nowrap align-items-center">
					<a [style.width]="library.width" href="{{library.url}}" target="_blank" class="row text-center {{l > 0?'ml-3':''}}" *ngFor="let library of typelibrary.libraries; let l = 'index'">
						<img [style.width]="library.width" src="{{library.img}}">
						{{library.description}}
					</a>
				</div>
				<div *ngIf="typelibrary.subtypes">
					<div class="rounded-s bd-1 mb-3 overflow-hidden bd-gray" *ngFor="let subtypelibrary of typelibrary.subtypes">
						<div (click)="toggle(subtypelibrary)" class="bg-gray p-2 pointer">
							{{subtypelibrary.name}}
						</div>
						<div [@openClose]="subtypelibrary.isOpen ? 'open' : 'closed'" class="pd-3 row nowrap align-items-center scroll" >
							<a [style.width]="librarySub.width" href="{{librarySub.url}}" target="_blank" class="row text-center {{ls > 0?'ml-3':''}}" *ngFor="let librarySub of subtypelibrary.libraries; let ls = 'index'">
								<img [style.width]="librarySub.width" src="{{librarySub.img}}">
								{{librarySub.description}}
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ngx-smart-modal>

<ngx-smart-modal #linkModal identifier="linkModal" [closable]="false" [escapable]="false" [dismissable]="false" [customClass]="'mediumModal p-post-header'">
	<div class="mb-3 row justify-content-between pb-2 bd-b-1 bd-{{company}}">
		<h5 class=""> <strong> MIS LINKS </strong> </h5>
		<a (click)="linkModal.close()" class="pointer"><i class="fa fa-times text-{{company}} text-l"></i></a>
	</div>
	<div class="scroll">
		<div class="rounded-s bd-1 mb-3 overflow-hidden bd-{{company}}" *ngFor="let typeLink of typeLinks">
			<div (click)="toggle(typeLink)" class="bg-{{company}} p-2 text-white pointer">
				{{typeLink.name}}
			</div>
			<div [@openClose]="typeLink.isOpen ? 'open' : 'closed'" class="pd-3">
				<div class="" *ngFor="let link of typeLink.links; let l = 'index'">
					<a [style.width]="link.width" href="{{link.url}}" target="_blank" class="text-center text-black">
						{{link.description}}
					</a>
				</div>
			</div>
		</div>
	</div>
</ngx-smart-modal>

<ngx-smart-modal #EnrollScheduleModal identifier="EnrollScheduleModal" [closable]="false" [escapable]="false" [dismissable]="false" [customClass]="'largeModal p-post-header'">
	<div class="mb-3 row justify-content-between pb-2 bd-b-1 bd-{{company}}">
		<h5 class=""> <strong> CONSULTA DE HORARIOS </strong> </h5>
		<a (click)="EnrollScheduleModal.close()" class="pointer"><i class="fa fa-times text-{{company}} text-l"></i></a>
	</div>
	<div class="scroll">
		<div *ngIf="enrollCycles && enrollCycles.length">
			<div class="rounded-s bd-1 mb-3 overflow-hidden bd-{{company}}" *ngFor="let cycles of enrollCycles">
				<div (click)="toggle(cycles)" class="bg-{{company}} p-2 text-white pointer">
					Ciclo {{cycles.name}}
				</div>
				<div [@openClose]="cycles.isOpen ? 'open' : 'closed'" class="pd-3">
					<div class="rounded-s bd-1 mb-3 overflow-hidden bd-gray" *ngFor="let course of cycles.courses">
						<div (click)="toggle(course)" class="bg-gray p-2 pointer">
							<strong> Curso: {{course.name}} - {{course.type}} </strong>
						</div>
						<div [@openClose]="course.isOpen ? 'open' : 'closed'" class="pd-2">
							<div class="scroll h-auto">
								<table class="w-100">
									<thead class="">
										<tr class="text-center text-xs bg-{{company}}-a text-white">
											<th class="px-2 py-2 align-middle text-left">TIPO</th>
											<th class="px-2 py-2 align-middle">SECCIÓN</th>
											<th class="px-2 py-2 align-middle">DÍA</th>
											<th class="px-2 py-2 align-middle">AULA - LOCAL</th>
											<th class="px-2 py-2 align-middle">FECHA INICIO</th>
											<th class="px-2 py-2 align-middle">HORA INICIO</th>
											<th class="px-2 py-2 align-middle">HORA FIN</th>
											<th class="px-2 py-2 align-middle">DOCENTE</th>
										</tr>
									</thead>
									<tbody>
										<tr class="text-center text-s" *ngFor="let vclass of course.schedule; let s = 'index'">
											<td class="px-2 py-1 text-left">{{ vclass.SSR_COMPONENT }}</td>
											<td class="px-2 py-1">{{ vclass.CLASS_SECTION }}</td>
											<td class="px-2 py-1">{{ vclass.UCS_DIA }}</td>
											<td class="px-2 py-1">{{ vclass.FACILITY_ID + ' / ' + vclass.UCS_FACILITY_DESC + ' ' + vclass.UCS_BLDG_DESC }}</td>
											<td class="px-2 py-1">{{ vclass.UCS_FECHA_INICIO }}</td>
											<td class="px-2 py-1">{{ vclass.UCS_HORA_INCIO }}</td>
											<td class="px-2 py-1">{{ vclass.UCS_HORA_FIN }}</td>
											<td class="px-2 py-1">{{ vclass.UCS_PROFESOR }}</td>
										</tr>
									</tbody>
								</table>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="enrollCycles && !enrollCycles.length">
			<div class="p-2">
				Usted no cuenta con horarios disponibles.
			</div>
		</div>
		<div *ngIf="!enrollCycles">
			<div class="p-2">
				Cargando Horario...
			</div>
		</div>
	</div>
</ngx-smart-modal>

<ngx-smart-modal #IntentionEnrollmentModal identifier="IntentionEnrollmentModal" [closable]="false" [escapable]="false" [dismissable]="false" [customClass]="'smallModall fullModal p-post-header'">
	<div class="bg-{{company}} p-4 rounded-t-1">
		<div class="btn-close-float p-3">
			<a *ngIf="!noClosed || (this.enrollmentStatus && this.enrollmentStatus.enrollment_intention_status == 'A' && this.enrollmentStatus.authorizacion && this.enrollmentStatus.authorizacion.ended_process == 'SI')" (click)="IntentionEnrollmentModal.close()" class="pointer"><i class="fa fa-times text-white text-l"></i></a>
		</div>
	</div>
	<div class="text-center p-2 px-5">
		<h5 class="text-{{company}} font-weight-bold text-sd">Intención de Matricula</h5>
		<p class="text-m">Queremos adaptar nuestros servicios a tus necesidades.  Por favor llena el siguiente formulario, te tomará menos de dos minutos. </p>

		<div class="bg-gray p-2 text-center mb-2">
			¿Te matricularás en el 2020-II?
		</div>

		<div class="row justify-content-center mb-3">
			<button (click)="openYesMofal()" class="btn rounded-1 px-4 btn-{{company}} mr-3">SI</button>
			<button (click)="openNotModal()" class="btn rounded-1 px-4 btn-{{company}}">NO</button>
		</div>
	</div>
</ngx-smart-modal>

<ngx-smart-modal #NotIntentionEnrollmentModal identifier="NotIntentionEnrollmentModal" [closable]="false" [escapable]="false" [dismissable]="false" [customClass]="'smallModall fullModal p-post-header'">
	<div class="bg-{{company}} p-4 rounded-t-1">
		<div class="btn-close-float p-3" *ngIf="this.enrollmentStatus && this.enrollmentStatus.enrollment_intention_status == 'A' && this.enrollmentStatus.authorizacion && this.enrollmentStatus.authorizacion.ended_process == 'SI'">
			<a (click)="NotIntentionEnrollmentModal.close()" class="pointer"><i class="fa fa-times text-white text-l"></i></a>
		</div>
	</div>
	<div class="text-left p-2 px-5">
		<h5 class="text-{{company}} font-weight-bold text-l">Por favor indica las razones de tu elección</h5>

		<div class="form-group">
		    <div class="form-check" *ngFor="let motive of motives">
				<input class="form-check-input" type="checkbox" id="{{motive.MOTIVO_COD}}" [(ngModel)]="motive.value" value="{{motive.MOTIVO_COD}}">
				<label class="form-check-label" for="{{motive.MOTIVO_COD}}"> {{motive.MOTIVO_DESC}} </label>
		    </div>
	  	</div>
	</div>
	<div class="row justify-content-center mb-3">
		<button class="btn rounded-1 px-4 btn-{{company}} mr-3" (click)="saveNotIntention()">GRABAR</button>
	</div>
</ngx-smart-modal>

<ngx-smart-modal #YesIntentionEnrollmentModal identifier="YesIntentionEnrollmentModal" [closable]="false" [escapable]="false" [dismissable]="false" [customClass]="'smallModall fullModal pt-4'">
	<div class="bg-{{company}} p-4 rounded-t-1">
		<div class="btn-close-float p-3" *ngIf="this.enrollmentStatus && this.enrollmentStatus.enrollment_intention_status == 'A' && this.enrollmentStatus.authorizacion && this.enrollmentStatus.authorizacion.ended_process == 'SI'">
			<a (click)="YesIntentionEnrollmentModal.close()" class="pointer"><i class="fa fa-times text-white text-l"></i></a>
		</div>
	</div>
	<div class="text-left p-2 px-5">
		<h5 class="text-{{company}} font-weight-bold text-l">Cursos</h5>
		<p> Elige tu intención de matrícula </p>
		<div class="form-group scroll h-s">
		    <table id="table-students" class="w-100">
				<thead class="">
					<tr class="text-center text-s">
						<th class="px-1 py-2 text-{{company}} text-left text-m">Curso</th>
						<th class="px-1 py-2 text-{{company}} align-middle text-m">Créditos</th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-center text-s" *ngFor="let course of courses">
						<td class="p-1 text-left">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" id="{{course.CRSE_ID}}" [(ngModel)]="course.value" value="{{course.CRSE_ID}}">
								<label class="form-check-label" for="{{course.CRSE_ID}}"> {{course.CRSE_DESC}} </label>
						    </div>
						</td>
						<td class="p-1 text-center"> {{course.CREDITO}} </td>
					</tr>
				</tbody>
			</table>
	  	</div>
		<div class="mb-2">
			<textarea class="form-control" [(ngModel)]="comment" placeholder="¿Te falta algún curso?"> </textarea>
		</div>	
		<div class="bg-gray p-2 mb-2">
			La intención de matricula no asegura un cupo en el curso elegido
		</div>	
	</div>
	<div class="row justify-content-center mb-3 px-5">
		<button class="btn rounded-1 px-4 btn-{{company}} mr-3" (click)="saveYesIntention()">GRABAR</button>
	</div>
</ngx-smart-modal>

<ngx-smart-modal #FinalIntentionEnrollmentModal identifier="FinalIntentionEnrollmentModal" [closable]="false" [escapable]="false" [dismissable]="false" [customClass]="'smallModall fullModal p-post-header'">
	<div class="bg-{{company}} p-4 rounded-t-1"> </div>
	<div class="text-left p-2 px-5 mb-3">
		<h5 class="text-{{company}} font-weight-bold text-center">¡Gracias!</h5>
		<div> Tu respuesta es importante para nosotros, mejoras tú, mejora el mundo. </div>
	</div>
	<div class="row justify-content-center mb-3">
		<button class="btn rounded-1 px-4 btn-{{company}} mr-3" (click)="FinalIntentionEnrollmentModal.close()">FINALIZAR</button>
	</div>
</ngx-smart-modal>

<ngx-smart-modal #IntensiveEnrollmentModal identifier="IntensiveEnrollmentModal" [closable]="false" [escapable]="false" [dismissable]="false" [customClass]="'smallModall fullModal p-post-header'">
	<div class="bg-{{company}} p-4 rounded-t-1">
		<div class="btn-close-float p-3">
			<a *ngIf="!noClosed || (this.enrollmentIntensiveStatus && this.enrollmentIntensiveStatus.enrollment_intention_status == 'A' && this.enrollmentIntensiveStatus.authorizacion && this.enrollmentIntensiveStatus.authorizacion.ended_process == 'SI')" (click)="IntensiveEnrollmentModal.close()" class="pointer"><i class="fa fa-times text-white text-l"></i></a>
		</div>
	</div>
	<div class="text-center p-2 px-5">
		<h5 class="text-{{company}} font-weight-bold text-sd">Inscripción Programa Intensivo</h5>
		<p class="text-m">Ponemos a tu disposición cursos a fin de adelantar o recuperar los mismos de acuerdo a tu plan. Revisa la disponibilidad de los mismos</p>

		<div class="bg-gray p-2 text-center mb-2">
			¿Te Inscribirás en el Ciclo Intensivo?
		</div>

		<div class="row justify-content-center mb-3">
			<button (click)="openYesIntensiveMofal()" class="btn rounded-1 px-4 btn-{{company}} mr-3">SI</button>
			<button (click)="openNotIntensiveModal()" class="btn rounded-1 px-4 btn-{{company}}">NO</button>
		</div>
	</div>
</ngx-smart-modal>

<ngx-smart-modal #YesIntensiveEnrollmentModal identifier="YesIntensiveEnrollmentModal" [closable]="false" [escapable]="false" [dismissable]="false" [customClass]="'largeModal fullModal p-post-header'">
	<div class="bg-{{company}} p-4 rounded-t-1">
		<div class="btn-close-float p-3">
			<a *ngIf="!noClosed || (this.enrollmentIntensiveStatus && this.enrollmentIntensiveStatus.enrollment_intention_status == 'A' && this.enrollmentIntensiveStatus.authorizacion && this.enrollmentIntensiveStatus.authorizacion.ended_process == 'SI')" (click)="YesIntensiveEnrollmentModal.close()" class="pointer"><i class="fa fa-times text-white text-l"></i></a>
		</div>
	</div>
	<div class="text-center p-2 px-5">
		<h5 class="text-{{company}} font-weight-bold text-sd">Inscripción Programa Intensivo</h5>
		<p class="text-m m-0">Recuerda que sólo podrás elegir un curso, una vez guardado el mismo no podrás modificarlo.</p>
		<p class="text-m m-0">Al guardar la inscripción se generará el cargo respectivo, de no cancelar el mismo la inscripción será revocada.</p>
		<p class="text-m">Al finalizar tu inscripción puedes realizar tus pagos por los canales disponibles hasta el 01/08.</p>

		<div *ngIf="enrollmentIntensiveStatus && enrollmentIntensiveStatus.authorizacion && enrollmentIntensiveStatus.authorizacion.ended_process == 'SI'" class="bg-gray p-2 text-center mb-2">
			Tu solicitud esta registrada
		</div>
		
		<div *ngIf="coursesIntensive && !coursesIntensive.length" class="bg-gray p-2 text-center mb-2">
			No hay cursos disponibles en tu plan para el Programa Intensivo
		</div>
		<div *ngIf="coursesIntensive && coursesIntensive.length" class="form-group scroll h-s">
		    <table id="table-students" class="w-100">
				<thead class="">
					<tr class="text-center text-s">
						<th class="px-1 py-2 text-{{company}} text-left text-m">Curso</th>
						<th class="px-1 py-2 text-{{company}} align-middle text-m">Horario</th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-center text-s" *ngFor="let course of coursesIntensive">
						<td class="p-1 text-left">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" id="{{course.CRSE_ID2}}" [(ngModel)]="course.value" (change)='changeCourseIntensive(course)' value="{{course.CRSE_ID2}}" [attr.disabled]="!(enrollmentIntensiveStatus && enrollmentIntensiveStatus.authorizacion && enrollmentIntensiveStatus.authorizacion.ended_process != 'SI')?true:null">
								<label class="form-check-label" for="{{course.CRSE_ID2}}"> {{course.CRSE_DESC2}} </label>
						    </div>
						</td>
						<td class="p-1 text-center"> {{course.schedule}} </td>
					</tr>
				</tbody>
			</table>
	  	</div>

		<div *ngIf="coursesIntensive && coursesIntensive.length && enrollmentIntensiveStatus && enrollmentIntensiveStatus.authorizacion && enrollmentIntensiveStatus.authorizacion.ended_process != 'SI'" class="row justify-content-center mb-3">
			<button (click)="confirmIntensive()" class="btn rounded-1 px-4 btn-{{company}}">Guardar</button>
			<!-- <button (click)="YesIntensiveEnrollmentModal.close()" class="btn rounded-1 px-4 btn-{{company}}">Cancelar</button> -->
		</div>
	</div>
</ngx-smart-modal>

<ngx-smart-modal #ConfirmIntensiveEnrollmentModal identifier="ConfirmIntensiveEnrollmentModal" [closable]="false" [escapable]="false" [dismissable]="false" [customClass]="'smallModall fullModal p-post-header'">
	<div class="bg-{{company}} p-4 rounded-t-1">
		<div class="btn-close-float p-3">
			<a *ngIf="!noClosed || (this.enrollmentIntensiveStatus && this.enrollmentIntensiveStatus.enrollment_intention_status == 'A' && this.enrollmentIntensiveStatus.authorizacion && this.enrollmentIntensiveStatus.authorizacion.ended_process == 'SI')" (click)="ConfirmIntensiveEnrollmentModal.close()" class="pointer"><i class="fa fa-times text-white text-l"></i></a>
		</div>
	</div>
	<div class="text-center p-2 px-5">
		<h5 class="text-{{company}} font-weight-bold text-sd">Inscripción Programa Intensivo</h5>
		<p class="text-m m-0">Recuerda que sólo podrás elegir un curso, una vez guardado el mismo no podrás modificarlo.</p>
		<p class="text-m m-0">Al guardar la inscripción se generará el cargo respectivo, de no cancelar el mismo la inscripción será revocada.</p>
		<p class="text-m">Al finalizar tu inscripción puedes realizar tus pagos por los canales disponibles hasta el 01/08.</p>

		<div class="bg-gray p-2 text-center mb-2">
			¿Estás seguro que deseas matricularte?
		</div>

		<div class="row justify-content-center mb-3">
			<button (click)="saveYesIntensive()" class="btn rounded-1 px-4 btn-{{company}} mr-3">SI</button>
			<button (click)="ConfirmIntensiveEnrollmentModal.close()" class="btn rounded-1 px-4 btn-{{company}}">NO</button>
		</div>
	</div>
</ngx-smart-modal>

<ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>