/* You can add global styles to this file, and also import other style files */
// @font-face {
// 	font-family: 'Gotham';
// 	font-weight: 300;
// 	font-style: normal;
// 	src: url("./assets/fonts/GothamMedium.ttf") format('truetype'),
// 	url("./assets/fonts/OpenSans.eot?#iefix") format('embedded-opentype'),
// 	url("./assets/fonts/OpenSans.woff") format('woff'),
// 	url("./assets/fonts/OpenSans.svg#svgOpenSans") format('svg');
// }

@font-face {
	font-family: 'PublicSans';
	font-weight: bold;
	font-style: normal;
	src: url("./assets/fonts/PublicSans_Bold.ttf") format('truetype');
}

@font-face {
	font-family: 'PublicSans';
	font-weight: normal;
	font-style: normal;
	src: url("./assets/fonts/PublicSans_Regular.ttf") format('truetype');
}

*,
.row {
	margin : 0;
	padding: 0;
}

.row {
	display: flex;
}

html,body {
	font-family     : "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size       : 14px;
	color           : #5f5f5f;
	height          : 100% !important;
	background-color: #F7F9FF !important;
	// line-height   : normal !important;
}

h5 {
	font-family: inherit;
	font-size  : 1.5rem;
}

ul,
ul li a:hover,
a,
a:hover {
	text-decoration: none;
	list-style     : none;
}

li a,
li a:not([href]) {
	display       : block;
	color         : #3f3f3f;
	padding-top   : 6px;
	padding-bottom: 6px;
}

li a:hover,
li a:not([href]):hover,
.pointer {
	cursor: pointer;
}

.disabled {
	cursor: not-allowed;
}

.disabled2 {
	cursor        : not-allowed !important;
	pointer-events: none;
	opacity       : 0.65;
}

.full-content {
	min-height: 100vh;
}

.min-content-s {
	min-height: 470px;
}

.min-content-normal {
	min-height: 570px;
}

.full-content-h {
	height: 100vh;
}

.full-content-h-2 {
	height: 100%;
}

.mb-6 {
	margin-bottom: 6rem;
}

.px-6 {
	padding-left : 6rem;
	padding-right: 6rem;
}

.text-ucs {
	color: #204491;
}

.bg-imagebg {
	background-image   : url("./assets/img/new_bck.png");
	background-position: center;
	background-repeat  : no-repeat;
	background-size    : cover;
}

.new_boxes {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 4rem;
	.box {
		width: 125px;
		position: relative;
		cursor: pointer;
		height: 134px;
		border-radius: 15px;
		color: #FFFFFF;
		font-weight: 500;
		padding: 20px;
		margin: 10px 0;
		.new_icon {
			margin-bottom: 10px;
		}
		.chevron {
			position: absolute;
			bottom: 10px;
			right: 10px;
		}
		p {
			font-family     : "PublicSans";
		}

		&.orange {
			background-color: #F28B2D;
			&:hover {
				background-color: #FF9942;
				box-shadow: 0px 8px 16px rgba(242, 139, 45, 0.3);
			}
		}
		&.purple {
			background-color: #1A213D;
			&:hover {
				background-color: #28366C;
				box-shadow: 0px 8px 16px rgba(26, 33, 61, 0.3);
			}
		}
		&.blue {
			background-color: #2C9FD7;
			&:hover {
				background-color: #51AEDB;
				box-shadow: 0px 8px 16px rgba(44, 159, 215, 0.3);
			}
		}
	}
}

.new_right_side {
	.new_form {
		font-family     : "PublicSans";
		.hidden_text {
			color: #3F51B5;
			visibility: hidden;
			font-size: 12px;
			line-height: 12px;
			letter-spacing: 0.15px;
		}
		.notHidden {
			visibility: inherit;
		}
		h5 {
			color: #22468F;
			font-size: 24px;
			font-weight: bold;
			line-height: 36px;
			text-align: left;
		}
		p {
			color: #637381;
			font-size: 16px;
			line-height: 24px;
			text-align: left;
		}
		.eyes_field {
			position: relative;
			.eye {
				position: absolute;
				bottom: 2px;
				right: 2px;
			}
		}
		.new_button {
			background-color: #FE8926;
			width: 100%;
			color: #FFFFFF;
			font-size: 16px;
			font-weight: 500;
			line-height: 20px;
			border-radius: 24px;
			padding: 12px 0;
			&:hover {
				background-color: #FF9942;
				box-shadow: 0px 8px 16px rgba(254,137,38,0.3);
			}
		}
		.forgot {
			p {
				color: #212B36;
				font-size: 14px;
				line-height: 16px;
				font-weight: bold;
				&:hover {
					text-decoration-line: underline;
				}
			}
		}
		.no_access {
			p {
				color: #212B36;
				font-size: 14px;
				line-height: 22px;
				span {
					font-weight: bold;
					a {
						color: #212B36;
						&:hover {
							text-decoration-line: underline;
						}
					}
				}
			}
		}
		.new_input {
			width: 100%;
			border:none;
			font-family     : "PublicSans";
			background-color: transparent;
			outline: none;
			height: 25px;
			font-size: 16px;
			border-bottom: 1px solid #C9CED2;
			&:active,&:focus {
				border-bottom: 2px solid #3F51B5;
			}
			&::-webkit-input-placeholder {
				color: #637381;
				font-size: 16px;
				line-height: 24px;
			}
		}
	}
	.footer {
		background-color: #F4F6F8;
		padding: 20px;
		width: 100%;
		span {
			font-family     : "PublicSans";
			font-size: 11px;
			line-height: 16px;
			color: #637381;
		}
	}
}

.modalT p {
	font-size: 15px;
}

/* BOTTON START */
.btn-b {
	background: #f6f6f6;
}

.btn-b.active-link img,
.btn-b:hover img {
	filter: brightness(0) invert(1);
}

.btn-ucs {
	background: #204491;
	color     : white;
}

.btn-ucs:hover {
	background: #204491;
	color     : white;
}

.btn-black {
	background: #000;
	color     : #fff;
}

.btn-black:hover {
	background: #131313;
	color     : #fff;
}

.btn-blue-b {
	/*background: #fff;*/
	color: #457cbf;
}

.btn-blue-b.active-link,
.btn-blue-b:hover {
	background: #457cbf;
	color     : #fff;
}

.btn-orange-b {
	/*background: #fff;*/
	color: #f08365;
}

.btn-orange-b.active-link,
.btn-orange-b:hover {
	background: #f08365;
	color     : #fff;
}

.btn-green-b {
	/*background: #fff;*/
	color: #6fbf4a;
}

.btn-green-b.active-link,
.btn-green-b:hover {
	background: #6fbf4a;
	color     : #fff;
}

.btn-purple-b {
	color: #985fa7;
}

.btn-purple-b.active-link,
.btn-purple-b:hover {
	background: #985fa7;
	color     : #fff;
}

.btn-bluesky-b {
	color: #6fc5e8;
}

.btn-bluesky-b.active-link,
.btn-bluesky-b:hover {
	background: #6fc5e8;
	color     : #fff;
}

.btn-black-b {
	color: #0f0f0f;
}

.btn-black-b.active-link,
.btn-black-b:hover {
	background: #0f0f0f;
	color     : #fff;
}

/* BOTTON END */

.bg-purple {
	background: #985fa7;
}

.bg-purple-a {
	background: rgba(152, 95, 167, .8);
}

.bg-purple-a2 {
	background: rgba(152, 95, 167, .65);
}

.bg-purple-a3 {
	background: rgba(152, 95, 167, .5);
}

.bg-gray {
	background: #ebebeb;
}

.bg-ucs {
	background: #204491;
}

.bg-blue {
	background: #457cbf;
}

.bg-orange {
	background: #f08365;
}

.bg-green {
	background: #6fbf4a;
}

.bg-wsp {
	background: #34BC58;
}

.bg-bluesky {
	background: #6fc5e8;
}

.bg-red {
	background: red;
}

.bg-ucs-a {
	background: rgba(32, 68, 145, .8);
}

.bg-sise {
	background: #e12726;
}

.bg-sise-a {
	background: rgba(225, 39, 38, .8);
}

.bg-black {
	background: #000;
}

.bg-white-a {
	background: rgba(255, 255, 255, .8);
}

.bg-white-a2 {
	background: rgba(255, 255, 255, .5);
}

.bg-black-a {
	background: rgba(0, 0, 0, .8);
}

.bg-black-a2 {
	background: rgba(0, 0, 0, .5);
}

.bg-black-a3 {
	background: rgba(0, 0, 0, .25);
}

.bg-gray-a {
	background: rgba(0, 0, 0, .25);
}

/* PADDING START */
.pd-2 {
	padding: 0.5rem;
}

.pd-3 {
	padding: 1rem;
}

/* PADDING END */

/* TRIANGLE START */
.triangle {
	width        : 0;
	height       : 0;
	border-right : 8px solid transparent;
	border-top   : 8px solid transparent;
	border-left  : 8px solid transparent;
	border-bottom: 8px solid #000;
}

.triangle-b {
	width        : 0;
	height       : 0;
	border-right : 8px solid transparent;
	border-top   : 8px solid #000;
	border-left  : 8px solid transparent;
	border-bottom: 0px solid transparent;
}

/* TRIANGLE END  */

/* BORDER START*/
.bd-0 {
	border: 0;
}

.bd-1 {
	border: 1px solid;
}

.bd-2 {
	border: 2px solid;
}

.bd-3 {
	border: 3px solid;
}

.bd-b-1 {
	border-bottom: 1px solid;
}

.bd-b-2 {
	border-bottom: 2px solid;
}

.bd-b-3 {
	border-bottom: 3px solid;
}

.bd-b-5 {
	border-bottom: 5px solid;
}

.bd-l-1 {
	border-left: 1px solid;
}

.bd-l-2 {
	border-left: 2px solid;
}

.bd-l-3 {
	border-left: 3px solid;
}

.bd-x-1 {
	border-left : 1px solid;
	border-right: 1px solid;
}

.bd-x-2 {
	border-left : 2px solid;
	border-right: 2px solid;
}

.bd-x-3 {
	border-left : 3px solid;
	border-right: 3px solid;
}

.bd-ucs {
	border-color: #204491;
}

.bd-sise {
	border-color: #e12726;
}

.bd-black {
	border-color: #000;
}

.bd-gray {
	border-color: #ebebeb;
}

.bd-white {
	border-color: #fff;
}

.bd-b-white {
	border-bottom-color: #fff;
}

.bd-t-white {
	border-top-color: #fff;
}

.rounded-0 {
	border-radius: 0;
}

.rounded-s {
	border-radius: .5rem;
}

.rounded-1 {
	border-radius: 1rem;
}

.rounded-2 {
	border-radius: 2rem;
}

.rounded-t-1 {
	border-top-right-radius: 1rem;
	border-top-left-radius : 1rem;
}

.rounded-t-2 {
	border-top-right-radius: 2rem;
	border-top-left-radius : 2rem;
}

.rounded-tl-1 {
	border-top-left-radius: 1rem;
}

.rounded-tr-1 {
	border-top-right-radius: 1rem;
}

.rounded-bl-1 {
	border-bottom-left-radius: 1rem;
}

.rounded-br-1 {
	border-bottom-right-radius: 1rem;
}

.w-100.rounding-1 {
	width: calc(100% - 2px) !important;
}

.w-100.rounding-2 {
	width: calc(100% - 4px) !important;
}

/* BORDER END*/

/* FLEX START */
.nowrap {
	flex-wrap: nowrap;
}

/* FLEX END */

/* SCROLL START */
.scroll {
	overflow  : auto;
	max-height: 400px;
}

.scroll2 {
	overflow  : auto;
	max-height: 500px;
}

.h-auto {
	max-height: initial;
	height    : auto;
}

.h-s-enrollment {
	max-height: 500px;
}

.h-m {
	max-height: 470px;
}

.h-s {
	max-height: 380px;
}

.h-fm {
	height: 500px;
}

.h-fn {
	height: 400px;
}

/* SCROLL END */

/* INPUT StART */
.ipt-small {
	width: 87px;
}

.form-radio:checked::before {
	position   : absolute;
	left       : 5px;
	top        : -7px;
	content    : '\02143';
	font-weight: 900;
	color      : #5cb85c;
	font-size  : 20px;
	transform  : rotate(40deg);
}

.form-radio {
	appearance      : none;
	position        : relative;
	background-color: #f1f1f1;
	color           : #666;
	height          : 20px;
	width           : 20px;
	border          : 0;
	cursor          : pointer;
}

.form-radio:disabled {
	background-color: #d1d1d1;
}

/* INPUT END */

/* INPUT SWITCH SI NO  START*/
.onoffswitch {
	position           : relative;
	width              : 70px;
	margin             : 0 auto;
	-webkit-user-select: none;
	-moz-user-select   : none;
	-ms-user-select    : none;
}

.onoffswitch-checkbox {
	display: none;
}

.onoffswitch-label {
	display      : block;
	overflow     : hidden;
	cursor       : pointer;
	border       : 2px solid #5cb85c;
	border-radius: 10px;
}

.onoffswitch-inner {
	display    : block;
	width      : 200%;
	margin-left: -100%;
	transition : margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
	display    : block;
	float      : left;
	width      : 50%;
	height     : 20px;
	padding    : 0;
	line-height: 20px;
	font-size  : 14px;
	color      : white;
	font-family: Trebuchet, Arial, sans-serif;
	font-weight: bold;
	box-sizing : border-box;
}

.onoffswitch-inner:before {
	content         : "SI";
	padding-left    : 10px;
	background-color: #5cb85c;
	color           : #FFFFFF;
	text-align      : left;
}

.onoffswitch-inner:after {
	content         : "NO";
	padding-right   : 10px;
	background-color: #EEEEEE;
	color           : #999999;
	text-align      : right;
}

.onoffswitch-switch {
	display      : block;
	width        : 18px;
	margin       : 6px;
	background   : #FFFFFF;
	position     : absolute;
	top          : 0;
	bottom       : 0;
	right        : 36px;
	border       : 2px solid #5cb85c;
	border-radius: 10px;
	transition   : all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
	right: 0px;
}

/* INPUT SWITCH SI NO  END*/

.bg-transparent::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #d0d0d0;
}

.bg-transparent option {
	margin     : 40px;
	background : rgb(0, 0, 0);
	color      : #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.py-3 .full-content {
	min-height: calc(100vh - 2rem);
}

.container-2 {
	max-width: 1200px;
	width    : 100%;
}

.btn:focus,
.btn.focus {
	box-shadow: none;
}

/*.active-link{
	color: #204491;
	border-right: 2px solid #204491;
}

.active-link.sise{
	color: #e12726;
	border-right: 2px solid #e12726;
}*/

/*TEXT START*/
.text-s {
	font-size: 12px;
}

.text-normal {
	font-size: 14px;
}

.text-m {
	font-size: 16px;
}

.text-xm {
	font-size: 18px;
}

.text-l {
	font-size: 20px;
}

.text-he {
	font-size: 28px;
}

.text-sd {
	font-size: 34px;
}

.text-t {
	font-size: 40px;
}

.text-gd {
	font-size: 65px;
}

.text-h-m {
	font-size: 2rem;
}

.text-h-xm {
	font-size: 2.5rem;
}

.text-h-l {
	font-size: 3rem;
}

.text-h-xl {
	font-size: 3.5rem;
}

.text-ucs {
	color: #204491;
}

.text-sise {
	color: #e12726;
}

.text-orange {
	color: #f08365;
}

.text-purple {
	color: #985fa7;
}

.text-green {
	color: #6fbf4a;
}

.text-blue {
	color: #457cbf;
}

.text-red {
	color: red;
}

.text-bluesky {
	color: #6fc5e8;
}

.text-wsp,
a.text-wsp {
	color: #34BC58;
}

a.text-wsp:hover {
	color: #44CC68;
}

.text-gray {
	color: #ebebeb;
}

.text-black,
a.text-black {
	color: #5f5f5f;
}

a.text-black:hover {
	color: #7f7f7f;
}

.hover-ucs:hover,
.hover-ucs:not([href]):hover {
	color: #204491;
}

.hover-sise:hover,
.hover-sise:not([href]):hover {
	color: #e12726;
}

/*TEXT END*/

.nsm-content {
	margin-top   : 0.75rem;
	margin-bottom: 0.75rem;
	margin-left  : 0.75rem;
	margin-right : 0.75rem;
	border-radius: 1rem;
}

.custom-padding .nsm-content {
	padding   : 0.40rem;
	border-radius: 0;
	width: 100%;
}

.custom-modal-error .nsm-content{
	width: 320px;
	height: 298px;
	.nsm-body{
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.fullModal .nsm-content {
	padding: 0;
}

.extralargeModal {
	max-width: 1500px;
	width    : 100%;
}

.largeModal2 {
	max-width: 1100px;
	width    : 100%;
}

.largeModal {
	max-width: 1000px;
	width    : 100%;
}

.mediumModal {
	max-width: 800px;
	width    : 100%;
}

.mediumModal2 {
	max-width : 800px;
	width     : 100%;
	margin-top: 20vh;
}

.smallModall {
	max-width: 450px;
	width    : 100%;
}

/* IMAGE START */
.img-q {
	width: 50px;
}

.img-s {
	width: 200px;
}

.img-hs {
	height: 40px;
}

.img-grayscale {
	filter: grayscale(100%);
}

/* IMAGE END */

/* BOX START */
/*.box-normal{
	width: 25px;
	height: 25px;
}*/
/* BOX END */

/* CIRCLE START */
.circle-x {
	border-radius: 50%;
}

.circle-q {
	width        : 50px;
	height       : 50px;
	border-radius: 50%;
}

.circle-mi {
	width        : 70px;
	height       : 70px;
	border-radius: 50%;
}

.circle-xmi {
	width        : 85px;
	height       : 85px;
	border-radius: 50%;
}

.circle-s {
	width        : 100px;
	height       : 100px;
	border-radius: 50%;
}

.circle {
	width        : 130px;
	height       : 130px;
	border-radius: 50%;
}

.circle-m {
	width        : 170px;
	height       : 170px;
	border-radius: 50%;
}

/* CIRCLE END */

/* HEADER START */
.header {
	position: fixed;
	width   : 100%;
	top     : 0;
	height  : 4.4rem;
	z-index : 100;
}

.m-post-header {
	margin-top: 4.4rem;
}

.p-post-header {
	padding-top: 5.5rem;
}

.full-content-header {
	min-height: calc(100vh - 4.4rem);
}

/* HEADER END */

/* HEADER START */
.footer {
	position: fixed;
	width   : 100%;
	bottom  : 0;
	z-index : 100;
}

/* HEADER END */

mwl-calendar-event-title {
	display    : block;
	width      : 100%;
	padding-top: 5px;
	height     : 100%;
}

mwl-calendar-event-title span {
	display    : block;
	width      : 100%;
	height     : 100%;
	white-space: break-spaces;
	line-height: normal;
}

.drop {
	position: absolute;
	top     : 65px;
	right   : 10px;
	width   : 210px;
}

.btn-wsp {
	position  : absolute;
	top       : 0;
	right     : 0;
	background: #34BC58;
	padding   : .5rem;
}

.btns-float {
	width   : 180px;
	position: absolute;
	bottom  : 0;
	right   : 0;
}

.btn-close-float {
	position: absolute;
	top     : 0;
	right   : 0;
}

.float-wsp-tr {
	top  : -15px;
	right: 26px;
}

.float-wsp-br {
	bottom: 20px;
	right : 20px;
}

.float-wsp-2 {
	bottom: 90px;
	right : 20px;
}

.float-wsp-mobile {
	bottom: 200px;
	right : 20px;
}

.float-triangle-br {
	bottom: -8px;
	right : 26px;
}

.nsm-dialog-btn-close {
	color     : white;
	background: rgba(0, 0, 0, 0.6);
	padding   : 6px;
}

/* NEW ENROLLMENT EDMUNDO */

.new_notice {
	border: 1px solid orange;
	color: orange;
	padding: 5px;
	border-radius: 5px;
	font-size: 12px;
}

.docente {
	text-transform: uppercase;
}

.firstScheduleIndex div.overlay {
	z-index: 2000 !important;
}

// .cal-week-view .cal-day-headers {
// 	position: absolute;
// 	width: 100%;
// 	z-index: 9999;
// 	padding-right: 15px;
// 	.cal-header {
// 		background: white;
// 		&.cal-today {
// 			background: #e8fde7;
// 		}
// 	}
// }

// .cal-week-view .cal-time-events {
// 	margin-top: 53px;
// }

.ucs_color {
	color: #204491;
}

div.TEO div.cal-event {
	color           : green;
	border-color    : green;
	background-color: #92efa7;
}

div.PRA div.cal-event {
	color           : #1e90ff;
	border-color    : #1e90ff;
	background-color: #d1e8ff;
}

div.RED div.cal-event {
	color           : red;
	border-color    : red;
	background-color: #ce8c8c;
}

div.extra div.cal-event {
	color           : #ffc107;
	border-color    : #ffc107;
	background-color: #ffffb1;
}

.icon_container {
	position: relative;
}

.mobile_version {
	display: none;
}

.header_mobile {
	text-align: center;
	background-color: #22468F;
	padding: 15px;
}

@media (max-width: 767px) {
	div.last {
		padding: 10px 25px;
		span {
			font-size: 11px;
		}
	}
	.desktop_version {
		display: none !important;
	}
	.mobile_version {
		display: inherit;
	}
	.new_right_side {
		.last {
			padding: 15px;
		}
		.footer {
			padding: 0;
		}
	}
	.new_form {
		margin-bottom: 1rem;
	}
	.wsp_button {
		position: relative;
		width: 100%;
		height: 40px;
		a {
			position: absolute;
			right: 10px;
			bottom: 0;
		}
	}
	.new_boxes2 {
		display: flex;
		align-items: center;
		flex-direction: column;
		.box {
			width: 100%;
			padding: 15px 10px;
			color: #FFFFFF;
			font-weight: bold;
			display: flex;
			align-items: center;
			justify-content: space-around;
			p {
				font-family     : "PublicSans";
			}
	
			&.orange {
				background-color: #F28B2D;
			}
			&.purple {
				background-color: #1A213D;
			}
			&.blue {
				background-color: #2C9FD7;
			}
		}
	}
}

@media (max-width: 750px) {
	.new_form {
		h5 {
			margin-top: 20px;
		}
	}
}

@media (max-width: 480px) {
	div.user-info {
		div.circle-x {
			display: none;
		}

		div.text-student {
			margin: 5px 0;
		}
	}

	div.in_new_enrollment {
		display: none;
	}

	div.new_enrollment_container div.text-right {
		text-align: center !important;
	}

	i.arrow_icon {
		right: 0px !important;
	}
}

@media (max-width: 991px) {
	div.user-info {
		div.text-student {
			word-break: break-all;
		}
	}

	i.arrow_icon {
		right: 5px !important;
	}

	li a,
	li a:not([href]) {
		display       : block;
		color         : #3f3f3f;
		padding-top   : 8px;
		padding-bottom: 8px;
	}

	/*.active-link{
		color: #204491;
		border: 2px solid #204491;
	}

	.active-link.sise{
		color: #e12726;
		border: 2px solid #e12726;
	}*/

	.scroll .w-100.rounding-1 {
		min-width: 850px;
	}
}

.text-underline{
	text-decoration: underline !important;
}