<div class="card-custom pt-3 pb-5 px-4">
  <h5 class="text-ucs my-3"> Eventos y Noticias</h5>
  <ng-container *ngIf="notice?.length>0; else notCourse">
    <div class="d-lg-flex py-3 border-bottom" *ngFor="let data of notice; let i = index">
      <div (click)="showImageHandler(data)" class="pointer notice_box" style="position: relative">
        <div style="position: relative;">
          <img [src]="data.imgPath" class="d-none d-lg-block" width="200px" height="130px" alt="">
          <img [src]="data.imgPath" class="d-block d-lg-none mb-3" width="100%" alt="">
          <img src="assets/img/zoom-img.svg" alt="" class="zoom" style="cursor: pointer; position: absolute; right: 10px; bottom: 12px;">
        </div>
      </div>
      <div class="ml-lg-3">
        <strong class="text-dark">{{data.title}} <span *ngIf="data.new" class="new_notice">NUEVO</span></strong>
        <div *ngIf="!data.expand" class="content-event text-justify mb-0 mt-1">
          <!-- {{data.limit(data.content)}} -->
          <div [innerHTML]="data.limit"></div>
          <label (click)="showMore(i)" *ngIf="data.content?.length>300 && !data.full" style="cursor: pointer;"
            class="text-ucs text-underline mb-0">
            ver más
          </label>
        </div>
        <div *ngIf="data.expand" class="content-event text-justify mb-0 mt-1">
          <!-- {{data.content}} -->
          <div [innerHTML]="data.content"></div>
          <label (click)="hideMore(i)" *ngIf="data.content?.length>300 && !data.full" style="cursor: pointer;"
            class="text-ucs text-underline mb-0">
            ver menos
          </label>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #notCourse>
    <div class="text-center my-4">
      <div>
        <img src="assets/img/not-events.png" class="mb-4" alt="">
      </div>
      <br>
      <strong>Por el día de hoy</strong>
      <p class="m-0">No hay eventos y noticias</p>
    </div>
  </ng-template>
</div>
<ngx-smart-modal #showImage identifier="showImage" [closable]="false" [escapable]="false" [dismissable]="false"
[customClass]="'mediumModal p-post-header custom-padding d-flex align-items-center justify-content-center h-100'">
  <div (click)="showImage.close();imgFile = null" class="times-close">
      <img src="assets/img/times-modal.svg" alt="">
  </div>
  <img *ngIf="imgFile" [class.d-none]="!loadImg" [src]="imgFile" width="100%" (load)="imgload()" alt="">
  <div class="text-center py-5" *ngIf="!loadImg">
    Cargando...
  </div>
</ngx-smart-modal>