.card-custom {
	border-radius: 15px;
	background   : #FFFFFF;
	box-shadow   : 0px 0px 10px rgba(0, 0, 0, 0.1);
	h5{
		font-size: 1.1rem;
		font-weight: 600;
	}
}
.text-underline{
	text-decoration: underline !important;
}
h5{
	font-size: 1.1rem;
}